[2014-06-27 01:03] pixelzoom opened #1 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-10-01 22:56] jonathanolson opened #2 "Support switching to a white background"
It's a hidden feature in the Java sims' teacher menu.

Relevant to https://github.com/phetsims/joist/issues/154

[2014-10-02 18:50] jonathanolson opened #3 "Test three.js Canvas rendering"

[2014-10-02 18:51] jonathanolson opened #4 "Canvas fallback dialog"
How do we want the warning/notification to look when WebGL is unavailable?

[2014-10-03 02:48] jonathanolson opened #5 "Crashing / infinite loop"
Looks to be in the ported SVD code from Jama.

[2014-10-03 03:35] #5 closed, assigned to jonathanolson

[2014-10-03 05:12] jonathanolson opened #6 "Use linkAttribute when useful"
I've missed some cases

[2014-10-03 07:27] jonathanolson opened #7 "Lone pair visual intersection can flicker"
It looks like three lone pairs overlapping in the z-order can confuse three.js, so it doesn't choose the correct z-order sometimes for the transparent rendering pass.

Will need to look into whether we can control the z order manually for that pass.

[2014-10-03 07:29] jonathanolson opened #8 "Reset all"
Test and fix, since original sim wasn't built with a way to reset.

[2014-10-03 07:29] #2 closed, assigned to jonathanolson

[2014-10-03 07:29] #1 closed, assigned to nobody

[2014-10-04 03:42] jonathanolson opened #9 "Pointer when mousing over pair groups that are draggable"

[2014-10-04 04:34] jonathanolson opened #10 "Fix FOV, scale and camera position to have more noticeable perspective"

[2014-10-04 05:14] jonathanolson opened #11 "Reloading sim multiple times causes slow-downs in same Chrome tab"
Resources might not be getting released?

[2014-10-04 05:31] jonathanolson opened #12 "Create new pairs at their control panel locations"

[2014-10-04 05:36] jonathanolson opened #13 "When "Show Lone Pairs" is unchecked, do we hide the control panel lone pair?"
It's this way in the original sim, and it seems a bit weird to me. Maybe making it look disabled will be enough?

[2014-10-04 05:54] jonathanolson opened #14 "Animated home-screen icons?"
Having rotating molecules (for the screen selected) could help cue the user into trying to rotate/play with the molecule.

[2014-10-04 18:08] #12 closed, assigned to jonathanolson

[2014-10-04 18:28] #9 closed, assigned to jonathanolson

[2014-10-04 18:30] #3 closed, assigned to jonathanolson

[2014-10-04 18:55] #7 closed, assigned to jonathanolson

[2014-10-05 02:46] emily-phet opened #15 "dev.3 Model Screen: Right Side Toolbars too big"
Can we shrink the size of things in the right side toolbar? Everything looks too big in my Chrome browser, and is pushing things off the bottom of the screen (e.g., can't see bottom half of "show bond angles" option).

[2014-10-05 02:47] emily-phet opened #16 "dev.3 Model Screen: Can't add from right side toolbar atoms, can only add from bonds"
Just a note here - if I click on the atom end of the bonds (on the atom itself) in the toolbar, nothing happens. I have to click on the bond. I would like to be able to add from atom and bond.

[2014-10-05 02:54] emily-phet opened #17 "dev.3: Navbar color = White?"
JO suggests we discuss color. Sounds like Ariel also thought discussing color would be a good idea. I (EM) think that the navbar looks fine white with the sim's black background, but I'm open to discussing it if folks have strong feelings on the issue.

[2014-10-05 02:56] emily-phet opened #18 "dev.3: Real Molecules Screen - Central atom not purple in "model" mode"
In Real Molecules Screen, the central atom is not purple in "model" mode, like on the Model screen.

[2014-10-05 02:58] emily-phet opened #19 "Real Molecules Screen: "Option" toolbar location"
Just a general design question.
I don't care for the fact that the dropdown box covers the "Options" toolbar. Would it be weird to have the Options toolbar at the bottom right of the screen? in the vicinity of the "reset" button? May look crappy, but just throwing the idea out there.

[2014-10-05 03:11] emily-phet opened #20 "dev.3: Color Options (non-navbar)"
I think the color options look great for everything, except the "basics" version. Could the "basics" background be a little more opaque? It looks too bold to me right now. The one constraint is that the background needs to stay orange-y enough to contrast with the yellow "fluorine" atoms in Real Molecules Screen.

[2014-10-05 03:25] emily-phet opened #21 "dev.3: Sim killing my machine's performance"
When running the sim, my computer sounds like it's going to die, everything slows down (in other applications). In the sim, dynamics of molecules and bonds looks great at first, but after awhile (~5 minutes) this starts to slow down. It crashed my browser (chrome) once, and when I tried to reload immediately after, that crashed my browser again. Here's the info from the sim's bug report option:

T

[2014-10-07 08:58] jonathanolson opened #22 "Bond angle can flip around without interaction with bond count: 2"
Seems like our previous midpoint workaround has a problem.

[2014-10-07 09:07] jonathanolson opened #23 "Multitouch support should be fixed"
Right now, there's a bug preventing multi-touch for dragging multiple atoms at the same time.

[2014-10-07 18:05] #18 closed, assigned to jonathanolson

[2014-10-07 18:10] jonathanolson opened #24 "Proper disposal and cleanup of all resources"

[2014-10-07 18:43] jonathanolson opened #25 "Move lone pair geometry data into separate file"

[2014-10-07 18:51] jonathanolson opened #26 "Clean up three.js vector conversions"

[2014-10-07 19:01] jonathanolson opened #27 "Create "Basics" repo"

[2014-10-07 19:03] #6 closed, assigned to jonathanolson

[2014-10-07 19:04] #15 closed, assigned to nobody

[2014-10-07 19:05] #16 closed, assigned to nobody

[2014-10-07 19:12] jonathanolson opened #28 "Add the option to show all lone pairs"

[2014-10-07 19:14] jonathanolson opened #29 "Check box color scheme for black"

[2014-10-07 19:15] jonathanolson opened #30 "Performance fixes and review"

[2014-10-07 19:16] jonathanolson opened #31 "Put global options into the options dialog"
Pending completion of https://github.com/phetsims/joist/issues/154

[2014-10-07 19:23] jonathanolson opened #32 "Store molecule rotation in model"
We'll probably want to save that as state!

[2014-10-07 19:25] #8 closed, assigned to jonathanolson

[2014-10-07 19:30] #13 closed, assigned to jonathanolson

[2014-10-07 19:50] #28 closed, assigned to jonathanolson

[2014-10-07 19:54] #25 closed, assigned to jonathanolson

[2014-10-07 20:19] jonathanolson opened #33 "Internal rename showAllLonePairs => showOuterLonePairs"

[2014-10-07 20:24] jonathanolson opened #34 "Apply z-ordering tweak to bond angles"
Was able to produce a buggy case:

![molecule-shapes-z-order-1](https://cloud.githubusercontent.com/assets/480878/4549672/12756236-4e60-11e4-81dd-595eabbf6959.png)

[2014-10-07 20:43] jonathanolson opened #35 "Text labels leave visual artifacts on iPad 3 iOS 8"
While rotating / manipulating the molecule with bond angles on, the following can appear:

![molecule-shapes-text-artefacts](https://cloud.githubusercontent.com/assets/480878/4549966/9462ce76-4e62-11e4-84ac-48a139010c94.png)

[2014-10-07 20:46] jonathanolson opened #36 "Bad control panel layout"
I've seen this once randomly on Firefox, and now it's occurring on iOS 8:

![molecule-shapes-incorrect-control-panels](https://cloud.githubusercontent.com/assets/480878/4549989/d9a49ffa-4e62-11e4-8b7e-bedff3aacff8.png)

It looks like after the images 'load' that the dimensions change (presumably). More investigation is needed, but overriding localBounds may be the best approach in any case.

[2014-10-07 22:22] #36 closed, assigned to jonathanolson

[2014-10-07 22:28] #33 closed, assigned to jonathanolson

[2014-10-07 22:32] jonathanolson opened #37 "How to handle wanting to "drag out" a bond on touch devices?"
I've modified the behavior to add the bond when a finger touches inside the upper-right panel, however it feels just a bit weirder that you can't drag it out.

I recall we didn't want to make people think the bonds were of "stretchy" length, or that they weren't connected during the 1st drag (original reasoning). If that still stands, please close this issue.

[2014-10-07 22:36] jonathanolson opened #38 "Opening screen 2's SF6 with outer lone pairs crashed iOS 8 tab"
Real Molecules screen, select SF6, turn on outer lone pairs.

Reports "A problem occurred with this webpage so it was reloaded."

We might be hitting some limits with how many times we load the lone pair geometry, or how many times it is being displayed.

[2014-10-08 04:26] #38 closed, assigned to jonathanolson

[2014-10-08 04:29] jonathanolson opened #39 "Do we need touch areas for dragging the atoms / lone pairs?"
Due to it being 3D, it's a somewhat non-trivial task.

[2014-10-08 05:16] #29 closed, assigned to jonathanolson

[2014-10-08 06:04] #27 closed, assigned to jonathanolson

[2014-10-08 06:11] #11 closed, assigned to jonathanolson

[2014-10-08 16:10] jonathanolson opened #40 "Fluid layout for control panels to stick to edges of the browser window?"
Do we want to have the reset all button and control panels float out farther to stay near the screen edge when resized to a large size? ESPB has behavior like this.

[2014-10-08 20:22] #31 closed, assigned to jonathanolson

[2014-10-08 21:37] #34 closed, assigned to jonathanolson

[2014-10-08 22:00] #23 closed, assigned to jonathanolson

[2014-10-08 22:16] #10 closed, assigned to jonathanolson

[2014-10-08 22:17] #24 closed, assigned to jonathanolson

[2014-10-08 22:41] #22 closed, assigned to jonathanolson

[2014-10-08 23:00] #35 closed, assigned to jonathanolson

[2014-10-09 18:15] jonathanolson opened #41 "webgl=false query parameter instead of canvasOnly"

[2014-10-09 20:40] jonathanolson opened #42 "Navbar change color on scheme switch"

[2014-10-09 20:41] #17 closed, assigned to emily-phet

[2014-10-09 20:43] #19 closed, assigned to emily-phet

[2014-10-09 20:45] #37 closed, assigned to emily-phet

[2014-10-09 20:49] #40 closed, assigned to emily-phet

[2014-10-09 20:50] #20 closed, assigned to emily-phet

[2014-10-09 22:42] jonathanolson opened #43 "Investigate three.js and context loss"
http://stackoverflow.com/questions/14350350/how-do-we-handle-webgl-context-lost-event-in-three-js indicates no context loss support, and I don't see the event listener name in the source code.

Probably needs to be added on.

[2014-10-09 23:21] #32 closed, assigned to jonathanolson

[2014-10-14 04:37] jonathanolson opened #44 "Hit-test atom spheres directly instead of with three.js"
Performance.

[2014-10-14 16:55] jonathanolson opened #45 "Restructure the directories to standard"
common
-- model
-- view
---- 3d
data
model (screen)
real (screen)

[2014-10-15 06:31] jonathanolson opened #46 "Check for having the background cursor stuck at 'pointer'"

[2014-10-15 08:24] #41 closed, assigned to jonathanolson

[2014-10-15 17:59] #45 closed, assigned to jonathanolson

[2014-10-15 18:02] #46 closed, assigned to jonathanolson

[2014-10-15 18:03] #21 closed, assigned to emily-phet

[2014-10-15 18:03] #14 closed, assigned to emily-phet

[2014-10-15 18:03] jonathanolson opened #47 "Home screen / navbar icons"

[2014-10-15 19:46] #42 closed, assigned to jonathanolson

[2014-10-15 22:22] jonathanolson opened #48 "Consider mouse-over effects on atoms / lone pairs that are draggable"

[2014-10-16 02:51] #39 closed, assigned to jonathanolson

[2014-10-16 02:51] #44 closed, assigned to jonathanolson

[2014-10-16 05:21] jonathanolson opened #49 "Improve bond label positioning based on bounds"

[2014-10-16 05:37] jonathanolson opened #50 "Combine the general and WebGL-specific bond angle view code"

[2014-10-16 05:55] jonathanolson opened #51 "Three.js angle labels"
Liberation Sans regular seems to look the most similar to Arial from the options we can use for embedding.

Last major performance bottleneck, see https://github.com/phetsims/molecule-shapes/issues/30

[2014-10-17 08:39] #51 closed, assigned to jonathanolson

[2014-10-17 08:39] #49 closed, assigned to jonathanolson

[2014-10-17 18:10] #43 closed, assigned to jonathanolson

[2014-10-17 18:55] jonathanolson opened #52 "Consider BondAngle model"
A good place to isolate many of the computations. Makes tracking bond views on the view-side easier. The midpoint of the bond angle changes the appearance of ~180-degree bond angle locations, so we might want to store it in model serializations.

[2014-10-17 20:07] #52 closed, assigned to jonathanolson

[2014-10-17 20:21] #50 closed, assigned to jonathanolson

[2014-10-17 22:00] jonathanolson opened #53 "LabelWebGLView cleanup"
It's rough and prototype-like.

[2014-10-17 22:13] jonathanolson opened #54 "MoleculeView cleanup"

[2014-10-17 22:45] jonathanolson opened #55 "Improved touch areas for bond controls"

[2014-10-18 04:00] #55 closed, assigned to jonathanolson

[2014-10-21 17:31] #53 closed, assigned to jonathanolson

[2014-10-21 19:30] #54 closed, assigned to jonathanolson

[2014-10-21 22:23] jonathanolson opened #56 "MoleculeShapesColors cleanup and generalization"

[2014-10-21 22:25] jonathanolson opened #57 "Keep gradients in SVG for button changes"
Causes the most notable performance problems, see https://github.com/phetsims/molecule-shapes/issues/30

[2014-10-21 22:26] jonathanolson opened #58 "High-level documentation"

[2014-10-22 02:06] #57 closed, assigned to jonathanolson

[2014-10-22 05:39] #30 closed, assigned to jonathanolson

[2014-10-22 05:51] #56 closed, assigned to jonathanolson

[2014-10-22 05:55] #26 closed, assigned to jonathanolson

[2014-10-22 06:04] jonathanolson opened #59 "Credits should be included"

[2014-10-23 18:59] pixelzoom opened #60 "code review"
Assigned to @pixelzoom at 10/23/14 dev meeting.

Do a quick pass today if possible. Looking for input on what is and isn't worth cleaning up. Do we need more documentation for stuff that's related to Three.js and WebGL?

Then do a more complete review after Nov 5.

[2014-10-23 19:02] jonathanolson opened #61 "TitledPanel refactoring to use Panel default options"
As discussed.

[2014-10-28 06:06] jonathanolson opened #62 "fuzzMouse needs to pass, hit exception"

[2014-10-28 17:20] bryo5363 opened #63 "Molecules do not render fully in projector mode"
Test device: MacBook Pro

Operating System: 10.9.5

Browser: Chrome 37.0.2062.120

Problem description: Molecules are not rendering fully in projector mode

Steps to reproduce:
-open simulation
-click on the real molecule tab
-turn on projector mode
-select a molecule with a decent amount of pairs, such as XeF4.
-grab a bond node and change the angle very quickly
-notice that the lone pairs will n

[2014-10-28 17:35] bryo5363 opened #64 "Adding lone pairs in Canvas severely effects the performance"
Test device: MacBook Pro

Operating System: OSX 10.9.5

Browser: Safari 7.1

Problem description: Turning on the outer lone pairs feature causes the simulation to run extremely slow

Steps to reproduce:
-open simulation
-turn on outer lone pairs
-try to move the molecule, whether it is changing the orientation or altering the angles.
-notice how slow the simulation will run.
Severity:

Screenshots

[2014-10-29 00:02] ycarpenterphet opened #65 "Perpetual motion created in certain cases (iOS 7.1/Canvas)"
Dev version 9
Test device: iPad2
Operating System: iOS 7.1
Browser: mobile Safari
Problem description: There are several situations where the molecule gets stuck in a perpetual movement cycle on the model screen.

Steps to reproduce:
(1) Start with 2 bonded atoms. Add 4 lone pairs. Lone pairs will wobble back and forth perpetually, rather than finding a stable position. See video clip here:
https:

[2014-11-01 18:10] #62 closed, assigned to jonathanolson

[2014-11-01 20:22] #58 closed, assigned to jonathanolson

[2014-11-01 20:31] #59 closed, assigned to jonathanolson

[2014-11-02 06:54] #61 closed, assigned to jonathanolson

[2014-11-10 16:53] #63 closed, assigned to jonathanolson

[2014-11-10 16:55] #64 closed, assigned to jonathanolson

[2014-11-13 17:31] #47 closed, assigned to nobody

[2014-12-01 20:03] pixelzoom opened #66 "add doc to molecule-shapes-colors.html"
It looks like this is a special version of molecule-shapes that lets you mess with the colors? I'm just guessing, and it's nonstandard to have a second .html file like this. So recommended to document what this is at the top of the file.

[2014-12-01 20:07] pixelzoom opened #67 "document tests"
Looks like there are some tests in js/tests/. Documented how to run the tests, how to maintain the tests, limitations, and anything else that may be necessary to properly maintain the tests and sim.

[2014-12-01 20:10] pixelzoom opened #68 "don't attach properties directly to window"
molecules-shapes-config.js does this:

I'm still very much opposed to attaching things directly to window. I think anything and everything that PhET attaches should be attached to window.phet.  This would make it much easier to identify what we are attaching, and (unlikely to be an issue in this case) prevent incompatibles with other things that add to window.

That said... If you don't want to ad

[2014-12-01 20:16] pixelzoom opened #69 "image plugin is loaded but not used"
molecules-shapes-config.js is loading the image plugin:

But I don't see anything in js/images/, so I suspect that this is not being used. Consider removing it.

[2014-12-01 20:28] pixelzoom opened #70 "credits don't adhere to PhET standards"
There was a lengthy discussion about revamping the credits. I can't find the issue where the conclusions are captured. But there are a couple of inconsistencies here:

People should be listed in alphabetical order by last name. That's not the case here for 'team' and 'qualityAssurance'. (The leadDesign field is an exception to alphabetization; the most recent designer should be listed first.)

The

[2014-12-01 20:34] pixelzoom opened #71 "Error message needs updating"
MoleculesShapesGlobals.toColorProperty throws this Error:

The message needs to be updated, looks like this code previously lived in AtomView.

[2014-12-01 20:40] pixelzoom opened #72 "is SIL Open Font License compatible with PhET?"
LiberationSansRegularSubset doc says:

 * a major bottleneck when using SVG text).
 * (uses the SIL Open Font License, http://en.wikipedia.org/wiki/SIL_Open_Font_License)

Is this license compatible with PhET?

I'm also not clear on what's required to meet the terms of this license. The Wikipedia entry says:

[2014-12-01 20:48] pixelzoom opened #73 "document AttractorModel.computeRotationMatrixWithTranspose"
Not clear what the type of @param result is, or @returns.

[2014-12-01 20:52] pixelzoom opened #74 "should GeometryConfiguration inherit Object?"
...similar to how Bond inherits Object. This is a convention that PhET adopted (typically for model types), just wondering if there's something about GeometryConfiguration that makes the convention unnecessary/undesirable.

[2014-12-01 20:55] pixelzoom opened #75 "define static functions in inherit call?"
LocalShape defines a bunch of static functions outside of the inherit call. Any reason why?

[2014-12-01 20:56] pixelzoom opened #76 "why does Molecule extend AXON.Events?"
Seems like a strange type hierarchy. Why use subtyping instead of composition?  If you leave it this way, you might want to explain a bit in the doc.

[2014-12-01 20:58] pixelzoom opened #77 "dead code in Molecule"
Dead code at line 74:

    // abstract {number | undefined} getMaximumBondLength()
    // abstract {boolean} isReal

[2014-12-01 21:01] pixelzoom opened #78 "why does Molecules have a getGroups function?"
Line 48:

Line 247:

this.groups is documented as @public, so getGroups would appear to be unnecessary.

[2014-12-01 21:05] pixelzoom opened #79 "annotation for nonexistent param in PairGroup"
Line 23, this parameter doesn't exist in PairGroup constructor:

[2014-12-01 21:11] pixelzoom opened #80 "more doc in PairGroup"
Particularly for repulseFrom, but also for addPosition, addVelocity.

[2014-12-01 21:17] pixelzoom opened #81 "why isn't isReal a property of Molecule?"
Molecule subtypes RealMolecule and VSEPRMolecule both define isReal in their inherit calls. Eg for VSEPRMolecule:

I don't see any other subtypes of Molecule, and I don't see 'new Molecule' called anywhere. So isReal appears to be a property of all Molecules.Why is it not a read-only field of Molecule, passed to the Molecule supertype constructor?

[2014-12-01 21:24] pixelzoom opened #82 "array type expressions don't match PhET conventions"
This is an issue throughout the code base. For example, Molecule line 48:

{PairGroup[]} is not a valid JSdoc type expression.

The PhET convention for arrays is either of these:

[2014-12-01 21:31] pixelzoom opened #83 "make configurationMap truly private"
VSEPRConfiguration defines configurationMap and getConfiguration in the static part of the inherit call. It's a bit confusing to see this.configurationMap in getConfiguration. Since configurationMap is marked as @private, why not make is a private var?

[2014-12-01 21:33] pixelzoom opened #84 "describe bondLengthOverride param to VSEPRMolecule constructor"
Not at all clear what bondLengthOverride is, and getMaximumBondLength makes it even more confusing.

[2014-12-01 21:39] pixelzoom opened #85 "factor out font used for check box labels"
GeometryNamePanel line 112, font is duplicated:

[2014-12-01 21:58] pixelzoom opened #86 "is scratchColorProperty necessary in GeometryNamePanel?"
scratchColorProperty is created for use with getTextLabel.  But getTextLabel is used only by getMaximumTextWidth.  And these things are all private. Why not rewrite getTextLabel so that it doesn't require a color property?

[2014-12-01 22:02] pixelzoom opened #87 "significance of placeholders for geometry names?"
GeometryNamePanel line 104 uses 'X' and 'Y' as placeholders for names:

Looking at layout code for GeometryNamePanel, all of the vertical layout is done based on these placeholders. And only centerX is adjusted when the names change. So is it important that these are capital letters? If so, document that. And any reason why they are different letters, instead of both 'X' ?

[2014-12-01 22:05] pixelzoom opened #88 "layoutScale param unused in LabelFallbackNode.setLabel"
Perhaps layoutScale is required by LabelWebGLView API, and you're trying to match that?

[2014-12-01 22:10] pixelzoom opened #89 "more doc in MoleculeShapesColors"
MoleculeShapesColors creates a bunch of object literals, which have one or more of these properties: default, basics, projector.  Pretty sure I know what these 3 properties are, but someone new to the code might not, so doc would be nice.  What I don't know (without rooting around in code) is what happens when a 'color' object is missing one of these properties. Which ones are required? What happe

[2014-12-01 22:16] pixelzoom opened #90 "documentation for TitledPanel and MoleculeShapesPanel"
TitledPanel and its subtype MoleculeShapesPanel both have identical documentation:

This doesn't tell me much, and is mostly confusing. Documentation should indicate:

How are they different?
What does "relies on a consistent background color" mean?
Why doesn't TitlePanel extend sun.Panel? (If it's "missing features", should sun.Panel be enhanced?)

[2014-12-01 22:20] pixelzoom opened #91 "BondAngleFallbackView this.unlinkArcColor unused?"
I don't see unlinkArcColor used anywhere in the code base. Can it be deleted?

[2014-12-01 22:24] pixelzoom opened #92 "why is BondAngleView.dispose a no-op?"
BondAngleView line 53:

[code]

I'm guessing that this is required because BondAngleViewFallback requires a dispose function. Either document that, or delete this no-op function and do something like this at the usage site:

[2014-12-01 22:34] pixelzoom opened #93 "what is "render-local access" ?"
Throughout the 3D implementation, I see "render-local access" comments. This is probably specific to Three.js, but it might be nice to provide an overview of this term (and others?) in implementation-notes.txt.

[2014-12-01 22:35] pixelzoom opened #94 "dead code in LabelWebGLView"
line 138:

[2014-12-01 22:39] pixelzoom opened #95 "magic constants in LonePairView"
What are these scales?
Why 2.5 ?
Do they both need to be the same value?

[2014-12-01 23:09] pixelzoom opened #96 "add a close button to Options dialog"
The Options dialog really needs a close (X) button.  It's different from the About dialog because you can interact with things inside it, and you must click outside it to dismiss it. I believe that this was a general requirement of the Options dialog (in a joist issue?) and it's needed by other sims.

[2014-12-01 23:14] pixelzoom opened #97 "performance of 'Projector Mode' check box"
Mac OS X 10.9.5, with Chrome 39, Safari 7.1, Firefox 34. (Did not check on iPad or Windows.)

In the Options dialog, click the 'Projector Mode' check box. There's a significant lag between when the state of the check box toggles. This lag is not present with the 'Show Outer Lone Pairs' check box.

[2014-12-01 23:17] pixelzoom opened #98 "molecules not rendered in screen icons (Safari 7.1)"
See screenshots below. On Mac OS 10.9.5 + Safari 7.1 (9537.85.10.17.1) the molecules in the screen icons (home screen and navbar) are not rendered. Labels on atoms are rendered, see navbar. WebGL is enabled.

![screenshot_408](https://cloud.githubusercontent.com/assets/3046552/5255125/7929f7ea-7975-11e4-82e1-9068a84f11a2.png)
![screenshot_409](https://cloud.githubusercontent.com/assets/3046552/525

[2014-12-04 17:58] #94 closed, assigned to jonathanolson

[2014-12-04 18:13] #91 closed, assigned to jonathanolson

[2014-12-04 18:32] #86 closed, assigned to jonathanolson

[2014-12-04 18:34] #71 closed, assigned to jonathanolson

[2014-12-04 18:36] #66 closed, assigned to jonathanolson

[2014-12-04 18:37] #88 closed, assigned to pixelzoom

[2014-12-04 18:37] #92 closed, assigned to pixelzoom

[2014-12-04 18:45] #69 closed, assigned to jonathanolson

[2014-12-04 18:47] #95 closed, assigned to pixelzoom

[2014-12-04 21:02] #93 closed, assigned to jonathanolson

[2014-12-04 21:08] #84 closed, assigned to jonathanolson

[2014-12-04 21:11] #85 closed, assigned to jonathanolson

[2014-12-04 21:15] #81 closed, assigned to jonathanolson

[2014-12-04 21:24] #82 closed, assigned to jonathanolson

[2014-12-04 21:26] #87 closed, assigned to jonathanolson

[2014-12-04 21:30] #83 closed, assigned to jonathanolson

[2014-12-04 21:33] #78 closed, assigned to jonathanolson

[2014-12-08 17:43] #70 closed, assigned to pixelzoom

[2015-01-29 04:54] jonathanolson commented on #67
I've added more documentation for the tests, and README.md for each tests directory following the conventions.

I'm really not sure what additional levels of documentation you were hoping for. For instance, each sim has a <sim>_en.html at the root, a js/version.js, etc. In those files, there is no documentation on how to run them (for HTML files), how to maintain them (no info in version.js about

[2015-01-29 04:59] jonathanolson commented on #68
Also forgot to tag https://github.com/phetsims/molecule-shapes/commit/5270441f1ffdfae0fd0717e43f9d4534ed67473e to the issue.

[2015-01-29 05:02] jonathanolson commented on #68
I've switched to the improved style of dynamically loading the config/main (see https://github.com/phetsims/scenery/issues/344). This makes the 'loaded config' flags and loop unnecessary (it's much cleaner now), and the flags have been removed.

[2015-01-29 05:07] jonathanolson commented on #72
@samreid, is it possible to add sim-specific licensing information, or do I need to move the data into sherpa?

[2015-01-29 05:19] jonathanolson commented on #73
Should be completed, assigning.

[2015-01-29 05:22] jonathanolson commented on #74
There's nothing that makes it unnecessary/undesirable, however it seems unnecessary?

I'm happy to add an empty inherit( Object, GeometryConfiguration ) if it helps for consistency, but I thought we were only inheriting Object when we wanted to add something to the prototype. Here the prototype is completely unneeded.

Let me know.

[2015-01-29 05:24] jonathanolson commented on #75
No reason, moved.

[2015-01-29 05:31] jonathanolson commented on #76
It seems natural to say molecule.on( 'bondAdded', ... ) instead of molecule.events.on( 'bondAdded', ... ), just like how PropertySet extends Events, and how Node mixes in Events.

Added a bit of documentation, let me know if anything else is needed.

[2015-01-29 05:32] jonathanolson commented on #76
Also for rationale: anything that wants to emit events and have listeners can mix-in (or directly extend) Events. They both need the super-call in the constructor, and it just seems more convenient.

[2015-01-29 05:39] jonathanolson commented on #77
I've added documentation. I don't agree with passing in the constructor, since it should be on the prototype (we don't want different copies of each function on each Molecule). If desired, I could add in stubs that throw errors when called (let me know).

[2015-01-29 05:42] jonathanolson commented on #79
Should be fixed, reassigning.

[2015-01-29 05:47] jonathanolson commented on #80
Done, see if that is satisfactory?

[2015-01-29 05:48] jonathanolson commented on #65
Should be fixed, closing.

[2015-01-29 05:48] #65 closed

[2015-01-29 05:55] jonathanolson commented on #89
Let me know if the changes are sufficient.

[2015-01-29 06:05] jonathanolson commented on #90
Added documentation, let me know if anything else is needed.

[2015-01-29 06:28] samreid commented on #72
It's not possible at the moment to add sim-specific license information, and it has served us well to keep all 3rd party dependencies in sherpa, please move the font data there as well and annotate in info.js.

[2015-01-29 06:33] jonathanolson commented on #60
I'm now waiting on feedback for all review items besides getting the SIL open font license included (#72), which will need to be handled (but I don't believe requires review feedback). Individual questions are in the issues, and all 'REVIEW' items were self-explanatory.

Many thanks for the in-depth code review!

[2015-01-29 07:17] jonathanolson commented on #97
Approximately 85% of the cost is in BondGroupNode's getBondDataURL. Of that 56% is cloning three.js geometry, and 38% is rendering + toDataURL().

I'm not particularly sure why it would need to clone the geometry again, since it is using the same renderer (it looks like LocalGeometry shows it is treating it as a new renderer every time).

[2015-01-29 07:24] jonathanolson commented on #97
https://github.com/phetsims/molecule-shapes/commit/728fe0c73bafce67266a5defe038a92850844f0a should solve the majority of the performance issue (at least 56%), and in practice seems to solve almost all of it. I'll need to test on the iPad.

Our API stub for our MoleculeShapesScreenView was including a new empty object as a 'renderer' each time, causing Local* to cache new copies each time a stub wa

[2015-01-29 08:40] jonathanolson opened #99 "Dependency is causing no animation in 2nd screen"
Rolled molecule-shapes back to previous dev version and there is no problem.

[2015-01-29 08:51] jonathanolson commented on #97
Unable to test until https://github.com/phetsims/joist/issues/200 is resolved.

[2015-01-29 10:07] jonathanolson commented on #97
It's approximately 3 times faster on the iPad than the previous dev version, and much snappier on desktop.

Now the dominant factor is the render() toDataURL() and three.js setSize(), none of which we have direct control over. Any further gains would involve caching/precomputing the images for the available color profiles (slightly longer startup time if we precompute, but the switch should be muc

[2015-01-29 10:10] jonathanolson commented on #99
It's also only when the "Real" mode is checked. "Model" mode on the 2nd screen works fine.

[2015-01-29 10:12] jonathanolson commented on #99
Also isolated to the model (the view is displaying correctly, the model locations seem frozen)

[2015-01-29 10:16] jonathanolson commented on #99
Joist/Scenery 0.1 also have the problem (after working around the AriaSpeech backwards incompatibility).

[2015-01-29 10:19] jonathanolson commented on #99
Verified that the problem goes away with checkout-shas for 1.0.0-dev.12 with molecule-shapes on HEAD.

[2015-01-29 10:39] jonathanolson commented on #99
Going from SHAs back to master one repo at a time in the least-breaking order shows axon->master causes the anticipated break.

[2015-01-29 10:44] jonathanolson commented on #99
Git bisect shows we break after https://github.com/phetsims/axon/commit/0e90b100b431589f1180b40a9ac58a7045b7ca19

[2015-01-29 10:53] jonathanolson commented on #99
PropertySet constructor overwrites the id of the PairGroup, since this is the order of execution:
[code]

[2015-01-29 17:03] jonathanolson commented on #98
I've noticed this again, mostly on Safari (mobile/desktop).

[2015-01-29 17:22] jonathanolson commented on #98
Looks like we're not handling the general "Safari doesn't immediately set dimensions on HTMLImageElements from a data URL" issue, and Scenery's Image is probably setting the dimensions displayed to 0x0:
![screen shot 2015-01-29 at 10 20 09 am](https://cloud.githubusercontent.com/assets/480878/5962345/82172a72-a7a0-11e4-8aa1-d015156b0b87.png)

[2015-01-29 20:01] jonathanolson commented on #72
Decided on sherpa/liberation-sans-regular-subset-numeric-degrees.js at developer meeting.

[2015-01-30 18:17] #90 closed

[2015-01-30 18:17] pixelzoom commented on #89
Looks good, closing.

[2015-01-30 18:17] #89 closed

[2015-01-30 18:17] pixelzoom commented on #80
Looks good, closing.

[2015-01-30 18:17] #80 closed

[2015-01-30 18:18] pixelzoom commented on #79
Looks good, closing.

[2015-01-30 18:18] #79 closed

[2015-01-30 18:19] #76 closed

[2015-01-30 18:19] #75 closed

[2015-01-30 18:20] pixelzoom commented on #73
Looks good, closing.

[2015-01-30 18:20] #73 closed

[2015-01-30 18:20] #68 closed

[2015-01-30 18:27] pixelzoom commented on #74
Sounds good, closing.

[2015-01-30 18:27] #74 closed

[2015-01-30 18:33] pixelzoom commented on #77
Documentation looks good.

Adding stubs for abstract functions sounds like a good idea for production code, and a Google search found a number of advocates for that approach.  I'll leave it up to you - either add them or not, then close this issue.

[2015-01-30 18:42] pixelzoom commented on #67
I was looking for a sentence or two about what the tests are testing. For example, model.js: I would expect this to unit the test the sim model, but it looks like tests for a math library.

Commonly used? There are very few sims (or common repos) that have unit tests, and you're developing your own pattern. Help the rest of us understand what you're doing and maybe we'll adopt it.

The "brief summ

[2015-01-30 18:43] pixelzoom commented on #60
All issues are either closed or close to being closed. Code review complete.

[2015-01-30 18:43] #60 closed

[2015-01-30 20:49] samreid commented on #99
Fixed above, animation is working again.  Reassigned to @jonathanolson for review.

[2015-01-31 01:51] jonathanolson commented on #99
Looks great, thanks!

[2015-01-31 01:51] #99 closed

[2015-01-31 17:52] jonathanolson commented on #67
It was already a pain to update the loaded*Configs across 8 repos. I'd really like to avoid updating documentation copy-pasted in 8 places, and maybe that's a sign that the unit test code should be separated into a repo (chipper or a new one) and repos create a stub? Or just document it in one place?

If you disagree, let me know and I can copy-paste the documentation into each place.

Additionall

[2015-01-31 17:59] #77 closed

[2015-01-31 17:59] jonathanolson commented on #96
Done, will handle style changes in Joist if desired in the future.

[2015-01-31 17:59] #96 closed

[2015-01-31 17:59] jonathanolson commented on #48
No complaints at status meeting, closing.

[2015-01-31 17:59] #48 closed

[2015-01-31 18:02] jonathanolson commented on #98
There is still a slight delay in the display of the images. Recommended at developer meeting to add a way to override an Image's width/height initially for faster display. Pending, @samreid wants to discuss options.

[2015-01-31 18:19] jonathanolson commented on #72
Moved to sherpa, closing.

[2015-01-31 18:19] #72 closed

[2015-01-31 18:19] jonathanolson commented on #97
Will reopen if necessary, it's much better now.

[2015-01-31 18:19] #97 closed

[2015-01-31 21:04] samreid commented on #98
My main question was:

Can we just wait until the images have been loaded and have nonzero dimensions before calling the Image.js constructor?  That pattern has served us well elsewhere and I'm not sure why that pattern can't be applied here.

[2015-01-31 21:04] samreid commented on #98
To elaborate: doing what I said above may mean deferring part of the sim initialization until the callback from toImage has completed.

[2015-01-31 21:13] jonathanolson commented on #98
How would you propose that be done? Additionally, I don't think it handles the case where we create images that are NOT at sim startup.

[2015-01-31 21:32] samreid commented on #98
Change:

[code]

to

[code]

To handle cases where the image *must* be created dynamically, don't create the scenery.Image or add it to the scene graph until the image data has been delivered by the callback (though perhaps this is tricky for certain framework API situations).

[2015-01-31 21:43] jonathanolson commented on #98
That seems like the best approach for images where we don't know the dimensions. I'm just not sure of the advantages of this approach compared to adding 2 parameters to Image when you know for sure the size of the Image (since you have no delay in that case, whereas the above example will take longer to load the sim).

[2015-01-31 21:52] samreid commented on #98
I would be fine to add the two parameters to the image constructor, just wanted to make sure everyone understood the alternative I was proposing. Though I am also a little concerned that the images will still be blank for many milliseconds after the same starts up before they appear.   If that is indeed a problem, would t it still be preferable to delaying the start up time?

[2015-01-31 21:56] samreid commented on #98
And just to clarify, we are talking about adding options, right? Not about adding more parameters.

[2015-01-31 21:58] jonathanolson commented on #98
Yes, was discussing adding options, but they would presumably be getters/setters, etc.

I will have to see if they are still blank.

[2015-02-01 05:22] pixelzoom commented on #67
8 places?... I thought we're talking about molecules-shapes/tests/README.md.

[2015-02-01 05:24] pixelzoom commented on #67
Maybe these are 7 other test directories, in other repos, where you think this should be added?

Honestly, I don't care where you put it. But the information on how you're doing unit tests currently lives in your head and in this issue. I'm suggesting that it should live somewhere that's useful to the reset of the development team.  Maybe we should discuss at a developer meeting.

[2015-02-03 06:54] jonathanolson commented on #98
Tested, and it makes the images appear immediately.

[2015-02-03 06:54] #98 closed

[2015-02-04 03:29] jonathanolson commented on #67
Added to the PhET Development Overview (Google doc), under the "Utilities and Instrumentation for Development and Testing" section that already existed.

[2015-02-04 16:46] pixelzoom commented on #67
Bueno. Closing.

[2015-02-04 16:46] #67 closed

[2015-02-05 05:19] jonathanolson commented on #4
Now that the linked page is up (see https://github.com/phetsims/website/issues/26), I'm closing this issue.

[2015-02-05 05:19] #4 closed

[2015-02-05 06:08] jonathanolson opened #100 "Main 3D view disappears after context loss"
Was fuzzing Molecule Shapes and lost context:

![molecule-shapes-lost-context](https://cloud.githubusercontent.com/assets/480878/6055731/b1b3e5f0-acc2-11e4-9d3e-dc8411542c54.png)

This could be a much larger problem on mobile devices.

[2015-02-05 06:14] jonathanolson opened #101 "Implicit assumption that bond angle won't be 0"
In BondAngleView.js, we attempt to normalize a zero-vector if both atoms are at the exact same orientation:

[code]

Instead of being a vector planar to both aDir and midpointUnit AND perpendicular to midpointUnit, it fails.

[2015-02-05 06:14] jonathanolson commented on #101
Discovered during fuzzing. It's almost impossible to do by hand (I haven't been able to).

[2015-02-05 06:17] #101 closed

[2015-02-06 19:35] phet-steele opened #102 "iOS 7 + Safari Performance"
Performance is slow with iOS 7 and Safari with most molecules that have octahedral molecular geometry. The performance is very dismal with the larger real molecules (XeF4, BrF5, PCl5, and SF6) coupled with outer lone pairs being shown. Dragging the molecule quickly results in lone pairs lagging behind and detaching from their molecule.

![photo](https://cloud.githubusercontent.com/assets/5863899/6

[2015-02-12 17:22] bryo5363 commented on #102
When using Safari 7 w/ WebGL enabled, I also noticed some obscure behavior. When adding single, double or triple bonds in very fast succession the sim will lag and not function properly. To recreate

-open sim
-open model
-remove all bonds=
-add bonds very rapidly. The sim will lag and not allow the user to access any options on the sim.

[2015-02-12 17:31] bryo5363 opened #103 "Safari 7 performance w/ WebGL enabled"
Test device: MacBook Pro

Operating System: OSX 10.9.5

Browser: Safari 7.1 (9537.85.10.17.1)

Problem description: Safari performance w/ WebGL enabled is quite sluggish

Steps to reproduce:
-make sure WebGL is enabled
-open sim
-open model tab
-remove all bonds
-quickly add as many bonds as you can
-the sim will become extremely sluggish and will take a while to load the new bonds.

if you can ge

[2015-02-12 18:32] bryo5363 opened #104 "Safari 6.1.6 (8537.78.2) w/ WebGL is very sluggish"
Test device: MacBook Pro

Operating System: OSX 10.8.5

Browser: Safari 6.1.6

Problem description: Very sluggish performance

Steps to reproduce:
-open sim
-manipulate molecule. notice the sim processes very slowly
-click bond angles. There will not be a numerical readout of angles.

Severity:

Screenshots:
![screen shot 2015-02-12 at 11 25 38 am](https://cloud.githubusercontent.com/assets/771736

[2015-02-12 18:41] orejolaphet opened #105 "IE 11 w/ Canvas slow performance."
Test device: Asus Win 8
Operating System: Win 8
Browser: IE 11.0.9600.17498
Problem description:
Slow performance when moving molecules, adding bonds.

Troubleshooting information (do not edit):
Name: Molecule Shapes
URL: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.0-dev.15/molecule-shapes_en.html?webgl=false
Version: 1.0.0-dev.15
Features missing: touch, fullscreen
Flags: po

[2015-02-12 18:55] orejolaphet opened #106 "Rotating H2O leaves that rotation as default to reset."
Test device: Asus
Operating System: Win 8
Browser: IE 11.0.9600.17498
Problem description:
In the Real Molecules screen any rotation of the default H2O molecule leaves that rotation as the default reset. That is, reset returns H2O to the latest rotation.
There is a little more weirdness:
After a rotation of H2O reset does not change the state.
If you change to a different molecule after rotating i

[2015-02-13 21:05] jonathanolson opened #107 "Fuzzing assertion error"
[code]

Looks like the fuzzing dragged an atom into the (0,0,0) position where it would be detected to be a "central" atom. A flag should be used to determine this information instead of checking position.

[2015-02-13 21:08] jonathanolson commented on #106
Reproduced (drag an atom in H2O and reset), should have a fix shortly.

[2015-02-13 21:23] jonathanolson commented on #105
Profiling shows 95% time in the three.js rendering. https://github.com/mrdoob/three.js/releases shows no improvements in Canvas performance.

[2015-02-13 21:37] #107 closed

[2015-02-13 21:42] #106 closed

[2015-02-13 23:23] jonathanolson commented on #100
Migrated to three.js r70, allows us to do the following to test context loss:
[code]

I tested, and it seems to have the same behavior as the context loss, but without printing the same context loss warning in the console that Chrome did on its own.

[2015-02-13 23:36] jonathanolson commented on #100
Looks like the forceContextLoss() doesn't trigger any of the context loss listeners. Manually triggered it (opened 5 copies of Molecule Shapes, tabbed out, and launched a few intensive 3D games), and the listeners were successfully triggered. I'll probably need to do that to test.

Also r70 has a context loss listener that prevents default already.

[2015-02-14 03:55] samreid commented on #100
How does three.js have `forceContextLoss`?  I thought that was typically done with the khronos webgl-debug.js wrapper, which incurs extra overhead and can slow things down.  Just asking since I didn't know whether three.js included the webgl-debug file or if you had to supply it somewhere.

[2015-02-14 04:33] jonathanolson commented on #100
In the relevant issue (https://github.com/mrdoob/three.js/issues/5507), they note there's a WebGL extension for this:
[code]
Seems much more convenient than completely modifying/overriding the Canvas prototype.

[2015-02-15 18:31] jonathanolson commented on #100
Looks like I'll have to revert to r68 on three.js, CanvasRenderer was removed (https://github.com/mrdoob/three.js/issues/5724).

I almost celebrated, because:

but realized 'everywhere' probably means something different.

[2015-02-15 18:48] jonathanolson commented on #100
I'd like to get @ariel-phet's opinion on the priority for this. Would it be OK to detect this condition (which can happen if the computer/device runs out of graphics memory and has to ditch our part, or when the graphics card gets fully reset) and just display a dialog noting that they'd need to restart the sim?

We can't immediately recreate the view with WebGL. Three.js is inhibiting the default

[2015-02-15 19:54] samreid commented on #100
Can't you wait until the context is restored, then recreate all of the simulation views (from the same models)?

[2015-02-15 20:25] jonathanolson commented on #100
Yes, that's whalt https://github.com/phetsims/molecule-shapes/commit/748a6351e5915728aed1f385bb0a1e34333b52bc does, but I have a large number of constants that assume whether we are using WebGL doesn't change. Additionally, dispose() needs to be rewritten to be able to work with a lost context.

[2015-02-17 18:31] jonathanolson opened #108 "Fails to launch on IE9"
It looks like three.js is using an unguarded console.log. Should be fixable by poly-filling window.console.log on IE9.

[2015-02-17 18:38] jonathanolson commented on #108
Looks like it fixes this issue.

[2015-02-17 18:38] #108 closed

[2015-02-19 05:18] jonathanolson commented on #105
There's nothing I can do to improve this, and it looks acceptable on a few different devices.

[2015-02-19 05:18] #105 closed

[2015-02-19 06:14] jonathanolson opened #109 "Move WebGL failure strings to common repo"

[2015-02-19 08:55] jonathanolson commented on #100
Adding and testing with:
[code]

[2015-02-19 08:56] jonathanolson commented on #100
Or a more manual:
[code]

[2015-02-19 09:13] jonathanolson commented on #100
Pending on tracking code checking and moving dialog to common code.

[2015-02-19 09:22] jonathanolson opened #110 "Ensure accessibility is behind a query parameter flag before RC"

[2015-02-19 09:23] jonathanolson commented on #109
Probably also the related UI.

[2015-02-19 15:03] pixelzoom commented on #110
Maybe it's implied here, but just in case... This query parameter isn't something that should be specific to molecules-shapes, it should be handled by common code.

[2015-02-19 17:13] jonathanolson commented on #103
Testing on Magnus (OS X 10.9.5, Safari 7.1 (9537.85.10.17.1)), I'm not able to reproduce this issue (within ~10 minutes of testing). It seems quite smooth.

Did it happen on another device, or is there a better way of reproducing it?

[2015-02-19 17:19] jonathanolson commented on #104
Initial testing indicates the text isn't showing up due to the texture being treated as cross-domain.

Additionally I'm able to reproduce significant delays in-between clicks and seeing actions happen.

[2015-02-19 17:38] jonathanolson commented on #104
Performance profile indicates 65% CPU, with 44% total spent in the model steps. It looks like we're already doing as few Jacobi iterations as possible, so it will be difficult to improve. Will also check for out-of-animation-frame DOM updates.

[2015-02-19 17:40] jonathanolson commented on #104
Graphics profiling shows minimal time spent painting. Very doubtful that the view is the bottleneck.

[2015-02-19 17:42] jonathanolson commented on #104
Combined timeline shows paints between every animation frame as hoped, no extraneous paints, and animation frame CPU times that can reach 100ms.

[2015-02-19 18:46] jonathanolson commented on #104
Important performance:
[code]

[2015-02-19 18:49] jonathanolson commented on #104
The image URL constructed looks perfect, but WebGL in Safari 6.1 might not like data URLs (might require a raw Canvas).

[2015-02-20 06:14] jonathanolson commented on #110
Yes definitely, this is just a reminder for me that can be tracked.

[2015-02-23 18:25] jonathanolson commented on #100
Tracking code notified properly on context loss.

[2015-02-23 18:45] #100 closed

[2015-02-23 18:47] #109 closed

[2015-02-23 18:51] jonathanolson commented on #102
Doesn't look like we'll be able to do anything for the Canvas performance.

[2015-02-24 22:42] pixelzoom commented on #110
Reopening.

Presumably this commit was related to this issue: https://github.com/phetsims/joist/commit/34d30e21fd7dade606c051c6a5504ebcd2d407b7

Why is options.accessibility defaulted to `true` in Sim.js?  My understanding was that accessibility is supposed to be turned off for all sims, not just molecule-shapes.

[2015-02-24 22:45] pixelzoom commented on #110
You also shouldn't need to do this in sim-specific code, it should be handled in joist:

molecule-shapes-main.js, molecules-shapes-basics-main.js:

[2015-02-24 22:46] pixelzoom commented on #110
Recommended to replace the previous commit with this in Sim.js:

[2015-02-24 22:54] jonathanolson commented on #110
I talked with @samreid, and the plan was explicitly to only disable accessibility by default for Molecule Shapes while the accessibility sprint was going on.

I'm fine with disabling it globally by default, but talk to @samreid first.

[2015-02-24 23:11] samreid commented on #110
OK with me to disable globally by default.  Is the reasoning to make sure it is polished before it shows up in our "dev" versions in addition to our published versions?

[2015-02-24 23:15] pixelzoom commented on #110
I spoke with @ariel-phet on the phone. He said "off for all sims by default".

I made the change in Sim.js and removed the query parameter accesses in molecule-shapes and molecule-shapes-basics.  Tested with those sims and a couple of others.  Assigning to @jonathanolson to make sure he's OK with the changes to his sims.

[2015-02-24 23:19] pixelzoom commented on #110
@samreid asked:

From 2/17/15 dev meeting notes:

SR: OK, we’ll hide it behind a query parameter for now.

And why would you want to add sim-specific code to disable it? That's code that you need to remember to add, and that will need to be removed at a later date.  That seems like a much greater cost than having to add an 'accessibility' query parameter to test what is an experimental feature.

[2015-02-24 23:24] jonathanolson commented on #110
Changes look good, closing.

[2015-02-24 23:24] #110 closed

[2015-02-25 18:32] phet-steele opened #111 "iFrame is constantly expanding on iPad"
This was verified on iPad Air 2 (iOS 8.1.3), iPad 2 (iOS 7.0.4), and iPad 3 (iOS 8.1) for both the regular and basic version of molecule shapes, 1.0.0-rc.1

https://drive.google.com/file/d/0B3HJopSo_QqLY1dJX3ZfLWxHdUU/view?usp=sharing

[2015-02-25 20:00] phet-steele opened #112 "Sim version incorrect"
Both molecule shapes and basics don't have the correct version information shown in the about dialogue and the browser tabs (should be 1.0.0-rc.1):

regular:
![img_0004](https://cloud.githubusercontent.com/assets/5863899/6379246/0d5125c2-bcee-11e4-814c-f249454e651b.PNG)

basics:
![img_0005](https://cloud.githubusercontent.com/assets/5863899/6379257/1b4fa28e-bcee-11e4-961b-42bdb6ed103e.PNG)

[2015-02-25 20:02] phet-steele commented on #112
Also happening in iFrames

[2015-02-26 19:51] jonathanolson commented on #111
Looks like it's happening for any Scenery 0.2 sim.

[2015-02-26 19:59] jonathanolson commented on #111
http://stackoverflow.com/questions/16937070/iframe-size-with-css-on-ios

[2015-02-26 20:05] jonathanolson commented on #111
More information: http://dev.magnolia-cms.com/blog/2012/05/strategies-for-the-iframe-on-the-ipad-problem/

[2015-02-26 20:31] jonathanolson commented on #111
Overridding FittedBlock bounds to an area always within the screen fixes this (padding causes it). Creating Scenery issue for this.

[2015-02-26 20:47] jonathanolson commented on #111
Should be fixed in Scenery. Local tests show it working.

[2015-03-01 01:19] jonathanolson commented on #112
I'm not sure exactly the combination of things I did wrong (because I was pretty sure about updating version.js before the deployment), because the commit tagged in dependencies.json is BEFORE I put accessibility behind a query parameter, but that is present in the deployed sim.

I'll make sure the version is set up correctly for the actual release.

[2015-03-01 01:25] jonathanolson commented on #103
@bryo5363 or @orejolaphet, please let me know if there is a way I can reproduce this in person (what specific device) so that I can look into profiling/fixing it if possible (since I see it in the test matrix).

[2015-03-02 19:46] phet-steele opened #113 "Sim unusable on IE9"
Bunch of problems with the controls and navbar, watch the video. The problems get worse the more times the screens are switched. This is on Win 7 and 1.0.0-rc.1 for both the regualr sim and basics.

https://drive.google.com/file/d/0B3HJopSo_QqLbGVvVjJjbjh3Mnc/view?usp=sharing

[2015-03-03 18:47] orejolaphet commented on #113
Sim is also unusable on IE 10 Here are some pictures describing the behavior:
![ie10molecules3](https://cloud.githubusercontent.com/assets/5631059/6469577/f3a728cc-c19a-11e4-95d7-26d282cfb093.png)
![ie10molecules2](https://cloud.githubusercontent.com/assets/5631059/6469579/f76285e2-c19a-11e4-85bf-b8092b1013af.png)
![ie10molecules](https://cloud.githubusercontent.com/assets/5631059/6469580/f94620f8

[2015-03-03 22:05] pixelzoom opened #114 "PhET button disappears"
This occurs in 1.0.0-rc.1 on all platforms. It's this problem: https://github.com/phetsims/joist/issues/191.

To reproduce:
1. start the sim
2. select any screen
3. go back to the home screen
4. notice that the horizontal bars in the PhET button are dimmed (their color is set for an inverted navbar)

[2015-03-03 22:09] pixelzoom commented on #114
This problem is now fixed in https://github.com/phetsims/joist/issues/191. Not sure how you want to patch this in your release candidate.

[2015-03-03 22:23] jonathanolson commented on #114
Thanks. I believe I'll be doing another RC with more recent versions of common libraries, since there are Scenery fixes that need to go into it also.

[2015-03-03 22:36] jonathanolson commented on #113
Tracked down an instance of this, where a tranform is tagged on an svg group where there should be no transform. Code to remove transforms from SVGGroups may be to blame.

[2015-03-03 22:43] jonathanolson commented on #113
removeTransform seems to not work?
![scenery-ie9-remove-transform](https://cloud.githubusercontent.com/assets/480878/6474181/f3b32f34-c1bb-11e4-8df0-38c1945e0fd7.png)

[2015-03-03 22:47] jonathanolson commented on #113
And confirmation of this from others: http://stackoverflow.com/questions/23814729/ie11-doesnt-remove-transform-attribute-on-svg-text-element

[2015-03-03 23:00] jonathanolson commented on #113
Tested with referenced Scenery fix and it's looking correct on IE9. I don't have a VM for IE10, but I anticipate it would be the same issue.

[2015-03-05 17:27] bryo5363 opened #115 "Performance is very sluggish on IE11 Windows 7"
Test device: Dell Intel Core 2 Duo

Operating System: Windows 7

Browser: IE 11

Problem description: Simulation performance is very sluggish

Steps to Reproduce: Any molecule with 5 or more bonds will cause the simulation to run slow.

Severity: High

Screenshots:

Troubleshooting information (do not edit):

Name: Molecule Shapes

URL: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes

[2015-03-16 18:07] jonathanolson opened #116 "Add screenshots under assets"
2048x1344, PNG, 32-bit color, assets/molecule-shapes-screenshot.png

[2015-03-16 18:13] jonathanolson opened #117 "Should we leave the effectively empty images/ directory?"

[2015-03-16 18:18] jonathanolson opened #118 "Switch README to published once sim is published"

[2015-03-16 22:42] pixelzoom commented on #117
imo, no, for the same reason you don't have an empty 'audio/' directory.

[2015-03-17 18:06] #117 closed

[2015-03-18 03:26] jonathanolson commented on #114
Fixed in RC.

[2015-03-18 03:26] #114 closed

[2015-03-18 03:26] jonathanolson commented on #113
Fixed in RC.

[2015-03-18 03:26] #113 closed

[2015-03-18 03:27] jonathanolson commented on #112
Fixed in RC.

[2015-03-18 03:27] #112 closed

[2015-03-18 03:27] jonathanolson commented on #111
Fixed in RC.

[2015-03-18 03:27] #111 closed

[2015-03-18 03:27] jonathanolson commented on #104
Fixed the bond angle readout part of this.

[2015-03-24 17:35] ariel-phet commented on #115
RC2 runs smooth as butter on my IE11. Closing

[2015-03-24 17:35] #115 closed

[2015-03-31 18:55] jonathanolson opened #119 "branch: combo-box-testing"
Being used for debugging https://github.com/phetsims/molecule-shapes-basics/issues/3 (still haven't been able to reproduce). It has extra checks which should help.

[2015-03-31 18:57] jonathanolson opened #120 "branch: context-loss-canvas"
Work for switching to Canvas on a context-loss, instead of just showing a failure message and requiring a reload. This may be an option for the future, so we're keeping the code around.

[2015-04-03 20:44] pixelzoom opened #121 "URL needs to be filled in on GitHub page"
When a sim is published, its URL needs to be filled in on the GitHub page. See screenshot below:

![screenshot_498](https://cloud.githubusercontent.com/assets/3046552/6988574/e8494ff4-da0f-11e4-8ea4-886a929a5292.png)

[2015-04-03 20:45] pixelzoom commented on #121
Done.

[2015-04-03 20:45] #121 closed

[2015-04-28 15:46] pixelzoom opened #122 "molecules-shapes fails to build"
[code]

[2015-04-28 15:47] pixelzoom commented on #122
I'm guessing this has something to do with this entry in molecules-shapes-strings_en.json:

[code]

There are other similar entries. Perhaps the string plugin is not handling the empty string correctly?

[2015-04-28 15:49] pixelzoom commented on #122
This made it impossible to test phetsims/chipper#130 (preload generation).  So you'll need to test that after I push related changes.

[2015-04-28 21:31] pixelzoom commented on #122
The assertion that's failing is in afterRequirejsBuild.js, line 138:

`assert( fallbackString, 'Missing string ' + stringKey + ' in fallback locale (' + fallbackLocale + ')' )`

[2015-04-28 21:37] pixelzoom commented on #122
I fixed this by changing the assertion to allow empty strings:

`assert( fallbackString !== undefined && fallbackString !== null, 'Missing string ' + stringKey + ' in fallback locale (' + fallbackLocale + ')' );`

But I'm wondering:

(1) Was the intent to allow or disallow empty strings?
(2) Why do this sim and least-squares-regression have empty strings in their string files?

[2015-04-28 23:23] jonathanolson commented on #122
(1) Was not intending to disallow empty strings,
(2) In this case, allowed flexibility for translators. For English, it makes sense to have the empty string.

[2015-04-28 23:23] jonathanolson commented on #122
Additionally, thanks for the fix!

[2015-04-29 16:03] #122 closed

[2015-05-11 20:22] pixelzoom opened #123 "details needed for typedarray.js"
I'm trying to determine a version number for sherpa/typedarray.js, and molecule-shapes appears to be the sole client. So I'm guessing that @jonathanolson added it.

First problem is determining where typedarray.js was obtained from. There is no URL in sherpa/info.js.  I did a Google search for "typedarray Linden Research", but none of the hits matches what is in sherpa.

Assigning to @jonathanolso

[2015-05-11 23:23] jonathanolson commented on #123
https://github.com/inexorabletash/polyfill as noted in the headers

[code]

[2015-05-13 17:57] pixelzoom commented on #123
Looks like the version we're using was pushed in https://github.com/inexorabletash/polyfill/commit/44f09cf9dc2b533b694778cbb73f81c6598b03a3#diff-4d008e39486e9345fc3cb1331d63e58a.  So I'll rename to typedarray-44f09cf.js.

[2015-05-13 17:57] #123 closed

[2015-05-20 22:01] ariel-phet commented on #102
Sim is published and iOS7 users are dwindling, closing

[2015-05-20 22:01] #102 closed

[2015-05-20 22:02] ariel-phet commented on #103
The sim is published, and this seems no longer a concern, closing

[2015-05-20 22:02] #103 closed

[2015-05-28 18:02] #118 closed

[2015-05-28 18:03] #116 closed

[2015-06-16 02:42] samreid opened #124 "Sighting: Laggy/Freezing behavior on retina Macbook Pro 2015 15""
I tested Molecule Shapes 1.0.0 on a new in-store retina MacBook Pro 2015 15" with Iris Pro graphics.  After the sim started, when I tried to interact with the molecule, the sim froze for 15+ seconds.  I restarted safari and saw the same behavior, see movie:

https://www.youtube.com/watch?v=H0T9UbVMPfs

This problem was also exhibited in several (but not all) of the three.js examples.

After reboot

[2015-06-16 21:11] arnabp opened #125 "Uneven scaling when window height is bigger than width"
When using split screen, the scaling from a large window to a small window is linear for the sim, but much stronger for the particle, causing the particle to look very very small for skinny windows.

![screen shot 2015-06-16 at 2 55 56 pm 2](https://cloud.githubusercontent.com/assets/8583364/8194634/06aa16d6-143a-11e5-903d-5ba1e132a756.png)
![screen shot 2015-06-16 at 2 57 18 pm 2](https://cloud.g

[2015-06-23 17:55] jonathanolson commented on #125
I don't see any OS X 11 listed in the inventory, which device was used (so I could potentially debug with it)?

[2015-06-23 20:09] jonathanolson commented on #125
I'd like to test this in-person to try to see what I can do with the console to debug.

[2015-06-23 20:14] arnabp commented on #125
It's on the machine I use now, Erdos, in 1029. I'll be here for the next couple hours if you'd like to try it today.

[2015-06-23 20:55] jonathanolson commented on #125
This is actually buggy with the current production version and Safari 7.1.6, and is probably buggy in production for all of Safari.

[2015-06-23 20:56] jonathanolson commented on #125
And buggy on Chrome OS X.

[2015-06-23 20:57] jonathanolson commented on #125
And buggy with Chrome Windows, and probably every platform.

[2015-06-23 20:59] arnabp commented on #125
Whoops, we edited the title at the same time, changing back

[2015-06-25 06:22] jonathanolson commented on #125
Fixed on all platforms.

[2015-06-25 06:22] #125 closed

[2015-07-20 23:19] elisemorgan opened #126 "Extremely Long String Test"
I tested the extremely long string on the iPad 2. This are just screenshots so you can see what it looks like. Everything worked fine.
![image 4](https://cloud.githubusercontent.com/assets/12610678/8789783/55f773b2-2f03-11e5-93b8-9c8a38279f28.jpg)
![image 3](https://cloud.githubusercontent.com/assets/12610678/8789789/59a1dcd2-2f03-11e5-9e07-c0034ef570de.jpg)
![image 2](https://cloud.githubusercont

[2015-07-20 23:23] jonathanolson commented on #126
Looks like a long panel title with short content will be buggy. Assigning as bug.

[2015-07-20 23:25] jonathanolson commented on #126
Argh, desktop interface on iPhone worked REALLY badly at assigning (I swear I was clicking accurately), since the mobile interface doesn't support it.

Sorry, it should be assigned to me.

[2015-07-21 17:18] orejolaphet commented on #124
@samreid
Same behavior occurs on my machine on Safari 8.0.7 . The newer Macbook (10.10.4) 2015 12"

I noticed that during the freeze that occurs after interacting with the molecule changing browser tab or change application and return to safari the molecule orients itself to a new position.

Troubleshooting information (do not edit):
Name: ‪Molecule Shapes‬
URL: http://www.colorado.edu/physics/phe

[2015-07-21 17:22] orejolaphet commented on #124
Issue does not occur with downloaded file.

[2015-07-21 17:35] elisemorgan opened #127 "Minor Dragging Glitch in iFrame"
Test device: Acer Chromebook

Operating System: Chrome OS

Browser: Chrome 43.0.2357.134

Problem description: After clicking and dragging the molecule, the molecule would continue to move with the mouse after no longer being clicked. This is not very problematic because I just had to click the screen again and the molecule was released. The issue also occurred when an external mouse was used.

St

[2015-07-21 17:43] samreid commented on #124
I'll assign this to @jonathanolson to investigate, but he may need some additional hardware in order to reproduce/debug the problem.

[2015-07-21 18:11] elisemorgan opened #128 "Heavy Lag on iPad 7"
Test device: iPad 2

Operating System: iOS 7.1

Browser: Safari

Problem description: WebGL is not enabled so Low Graphics Quality runs automatically. There is significant lag. Lone pairs often "jump" away from the molecule and freeze in space when the molecule is being dragged. Also occurs in iFrame.

Steps to reproduce:

Severity:

Screenshots:
![image 5](https://cloud.githubusercontent.com/asse

[2015-07-21 18:27] elisemorgan commented on #128
Also seen in Win 7 w/ IE 10

[2015-07-22 15:36] bryo5363 opened #129 "Aliasing present on FF 38.0.5"
There is a clear difference in sim appearance from Chrome to FF

Chrome 43 on OSX 10.10.3
![screen shot 2015-07-22 at 9 36 13 am](https://cloud.githubusercontent.com/assets/7717368/8829671/1f280790-3055-11e5-84fc-7e0bb6b2c3e2.png)

FF 38.0.5 on OSX 10.10.3
![screen shot 2015-07-22 at 9 36 23 am](https://cloud.githubusercontent.com/assets/7717368/8829682/2bdfc27a-3055-11e5-9e3d-17b5ff2aabfa.png)

[2015-07-22 16:50] bryo5363 opened #130 "Safari 8 performance extremely affected when using long string test"
I followed the request to perform the string test and only noticed affected performance on Safari 8 for OSX 10.10.3.

Steps to reproduce
1) use an extremely long String for the string Test
2) open sim
3) turn on projector mode
4) go full screen
the performance will be severely affected

If the string is very long, the simulation will not even open. For Instance I used
http://www.colorado.edu/physi

[2015-07-22 18:11] bryo5363 opened #131 "Simulation crashes on Safari 7"
Test device: MacBook Pro

Operating System: OSX 10.9.4

Browser: 7.0.5 (9537.77.4)

Problem description: The simulation crashes when going from full screen to external link

Steps to reproduce:
1) open sim
2) go full screen
3) click report a problem or phet website
4) when going back to the simulation tab on the browser, the simulation will not run
Severity:

Screenshots:
![screen shot 2015-07-22

[2015-07-22 18:13] bryo5363 commented on #131
Note that WebGL does NOT need to be enabled for this issue to occur

[2015-07-23 15:22] ariel-phet commented on #128
@elisemorgan - this is a known issue. The low graphics quality is because these platforms do not support webgl (which allows us to render the smooth looking shapes).

For platforms that run with "low graphics quality" it is important that they still perform well, but it is OK if they have this very angular look (it is intentional). Please comment if you are seeing any performance issues (dragging

[2015-07-23 15:24] ariel-phet commented on #129
@bryo5363 can you try updating to the latest FF (I believe it is at 39)

[2015-07-23 18:56] jonathanolson commented on #124
Will investigate in person, but not sure there's much I can do to fix it.

[2015-07-23 19:01] samreid commented on #130
I reproduced the problem on my OS X Chrome.  Uncaught RangeError: Maximum call stack size exceeded

[2015-07-23 19:02] jonathanolson commented on #130
Looks like a Panel updateBackground loop.

[2015-07-23 19:03] samreid commented on #130
@jbphet volunteered to look into it.  Call on @samreid if you would like assistance.

[2015-07-24 16:52] elisemorgan commented on #128
@ariel-phet I've changed the name to better reflect the issue. There is a significant amount of lag on the iPad 7, as commented above. The molecule is unable to stay together while being dragged. Unfortunately I'm not sure how to do a recording of my screen on the iPad.

[2015-07-24 21:23] jbphet commented on #130
I've dug into this a bit, and the stack is getting quite deep in a call that originates from Panel.updateBackground, which triggers a change of the bounds, which triggers another updateBackground call, and apparently it starts recursing.  I'll try to figure out why this doesn't happen all the time, but thought I'd note that this ticket is likely related: https://github.com/phetsims/sun/issues/110.

[2015-07-24 22:02] jbphet commented on #130
The problem is that the bounds are oscillating as the panel is being set up.  There is a comment in Panel.updateBackground() that says:

[code]

But, if the bounds are printed before each update, here is a sample of what is seen:

It would appear that the previous attempt to control oscillation didn't work, at least not in all circumstances.

[2015-07-24 22:19] jbphet commented on #130
As an experiment, I removed the numerical precision test in the updateBackground function in Panel.js and instead added a flag to prevent recursive updates in updateBackground.  This seems to work, i.e. the sim doesn't crash and we don't end up with deep call stacks.  It's a bit hokey, but perhaps no more hokey than the current approach, and my guess is that this may improve performance for all us

[2015-07-24 22:54] jbphet commented on #130
I added a counter to measure just how deep the recursion goes if it isn't explicitly prevented as described in the previous comment.  This counter was incremented at the top of the Panel.js updateBackground function, logged to the console, and then decremented when exiting the function.  With normal strings, the depth reaches 3 when launching Molecule Shapes.  I tried this on several other sims, a

[2015-07-24 22:59] jbphet commented on #130
By the way, I tested this on several simulations that use panels after making the change and saw no issues.

[2015-07-26 18:14] samreid commented on #130
I reverted Panel.js to sun/cec7fc906bdb209ba0938760f2e60eb25a59912d and reproduced the error.  After updating to @jbphet version, the problem is gone.

I understand the strategy @jbphet employed in the fix and it seems straightforward to me, but I am wondering when a secondary (recursive) update would have been triggered--how can we be certain that it was a small/insignificant change?

Also, I thi

[2015-07-27 16:03] bryo5363 commented on #129
This is still present on FF 39. There is no aliasing with the text but the resolution and smoothing of the actual molecules still looks the same as 38.0.5

[2015-07-27 16:43] ariel-phet commented on #129
@bryo5363 - thanks for the update

[2015-07-27 16:44] ariel-phet commented on #129
@jonathanolson - I assume there is nothing to be done about this issue...it is basically a question of the FF webgl rendering engine...is that correct?

[2015-07-27 16:46] bryo5363 opened #132 "Simulation does not render correctly for IE 11 on Win 8"
Test device: Asus w/ Win 8

Operating System: Windows 8

Browser: IE 11 (11.0.9600.16384)

Problem description: The simulation does not open correctly; there are no molecules present in the simulation

Steps to reproduce:
open the sim

Severity: High

Screenshots:
upon opening the link
![opening_molecules](https://cloud.githubusercontent.com/assets/7717368/8911929/35a75424-3444-11e5-98ff-66a4dd05a

[2015-07-27 17:57] jbphet commented on #130
I had the same question @samreid, i.e. is there ever a legitimate time to have updateBackground() called recursively?  In other words, could preventing recursion in calls to updateBackground() cause issues with panel layout?  My opinion on this is that it doesn't seem like a good application of the technique of recursion.  It's generally a bit tricky to use this technique correctly, and there alwa

[2015-07-27 18:33] jbphet commented on #130
I tried the approach where updateBackground() was only called when the width or height of the content changes, but it doesn't work.  It appears that changing the position of the content (as is done in the updateBackground function) affects its size a tiny bit.  @jonathanolson may want to have a look at this, since it doesn't seem like correct behavior for Scenery, but it may just be floating point

[2015-07-27 23:47] jonathanolson commented on #129
There might be something to be done. It may be the case where it won't easily be solvable easily.

If it's a big sticking point, it would be possible to ship the partially-transparent images for the control panel in the sim itself (for all color-schemes), instead of having them be generated, if I can't find a better solution.

[2015-07-27 23:50] jonathanolson commented on #132
Is this a named testing device I'd be able to use tomorrow when I'm in?

[2015-07-28 00:00] bryo5363 commented on #132
Yes. Socrates and Schroedinger
On Jul 27, 2015 5:50 PM, "Jonathan Olson" <notifications@github.com> wrote:

[2015-07-28 00:20] ariel-phet commented on #129
@jonathanolson - not a big sticking point, we of course love our sims looking as crisp as possible, but this level of aliasing is acceptable. So if there is an reasonably easy improvement, it is worth considering, but I do not think we need to go to the lengths of shipping partially transparent images for the control panel.

[2015-07-28 16:13] jonathanolson commented on #132
Console output:
[code]

[2015-07-28 16:47] jbphet commented on #130
I just discussed this with @jonathanolson, and he said that the issue is caused by rounding errors and there isn't much that could be done in Scenery to prevent it.  He feels that the flag for preventing recursion seems like a fine approach.  Closing.

[2015-07-28 16:47] #130 closed

[2015-07-28 16:49] jonathanolson commented on #132
Looks like a three.js issue, only probably solvable by looking into Three.js upgrade (and seeing if I can get CanvasRenderer to still worked, as it was moved to "examples").

Since it's failing on two IE11/Win8 devices, it seems to me to be worth the time to look more into upgrading three.js (I recall porting the code to a newer version a while ago, estimate ~4-8 hours). @ariel-phet, does that see

[2015-07-28 16:51] ariel-phet commented on #132
@jonathanolson yes - that does seem appropriate since IE is still a massive part of our user base.

[2015-07-28 17:15] jonathanolson commented on #128
Tested with Lave (iOS 7.1 iPad 2) for ~10 minutes, and while it was slow (due to Canvas rendering), I wasn't able to get anything to separate or stay stuck (molecule was together). Seemed acceptable for what we can do on the device.

@ariel-phet, should we have more testing done to get reproduction instructions/video, or accept as-is?

[2015-07-28 17:56] jonathanolson commented on #131
Confirmed using Dirac. No console errors or anything else, and it's fixed in Safari 8.x+.

I'm not sure there's a fix besides disabling full-screen for Safari 7.x (and I can't pin down any workarounds online). @ariel-phet, preferences between disabling full-screen for 7.x, or just marking as will-not-fix?

[2015-07-28 18:05] jonathanolson commented on #127
Confirmed with Chadwick, and I can also reproduce on OS X Chrome.

Looks initially like mouse events aren't being sent while the mouse is outside of the iframe (so the mouse release isn't picked up), and it still thinks it's being dragged. Also doesn't pick up movement.

I'll see if I can figure out any flag settings or Chrome options so that it will work as expected. Should be an issue across all

[2015-07-28 18:09] ariel-phet commented on #131
Disable full-screen for 7.x (I assume that this will be a general disabling, not just for this sim).

[2015-07-28 18:22] ariel-phet commented on #128
App store is currently reporting 85% of devices are using iOS8. With iOS9 due in September and us likely dropping iOS7 support soon, I think we can leave as is. Closing.

[2015-07-28 18:22] #128 closed

[2015-07-28 18:25] jonathanolson commented on #131
Correct, will do.

[2015-07-28 18:55] jonathanolson commented on #127
Chromium bug that causes the current behavior: https://code.google.com/p/chromium/issues/detail?id=269917

Not too much we can do at this point from our end. @ariel-phet, should an issue be created in joist/scenery and left open to note this as an all-sims-in-iframe-in-Chrome issue?

[2015-07-28 19:06] jonathanolson commented on #131
Tested above commit, verified that full-screen is disabled in Safari 7. Closing.

[2015-07-28 19:06] #131 closed

[2015-07-30 16:39] jonathanolson commented on #126
Should be fixed.

[2015-07-30 16:39] #126 closed

[2015-07-31 23:41] ariel-phet commented on #127
@jonathanolson yes that seems like an appropriate step. Agreed that not much we can do about this at the moment. Feel free to reference new issue and close this one.

[2015-08-01 04:34] jonathanolson commented on #132
Can we have http://www.colorado.edu/physics/phet/dev/olsonjb/molecule-shapes-three-r71.html tested on those same platforms? I'm hopeful that it will work well.

[2015-08-03 16:22] #127 closed

[2015-08-04 14:18] ariel-phet commented on #132
@bryo5363 @elisemorgan see previous comment. If that link resolves this issue, please comment here

[2015-08-04 16:44] jonathanolson commented on #132
In today, tested and still failing. https://github.com/mrdoob/three.js/issues/4432 indicates that it's an IE version-specific issue, and Schrodinger seems to be on an older update. I'm checking if applying windows updates will fix the issue.

[2015-08-04 17:53] jonathanolson commented on #132
Confirmed that windows updates (taking IE to 11.0.9600.17031) fixed the issue. @ariel-phet, do we need a troubleshooting item that notes potentially having to update IE if it is at an older version?

[2015-08-04 17:57] ariel-phet commented on #132
@jonathanolson - talk to @oliver-phet - It seems in general troubleshooting for HTML5 sims should include suggesting latest version of any browser.

[2015-08-04 18:15] jonathanolson commented on #132
Talked with @oliver-phet, closing.

[2015-08-04 18:16] #132 closed

[2015-08-04 18:54] jonathanolson commented on #129
Added on-the-fly mipmapping to Firefox, fixes the aliasing issue.

[2015-08-04 18:54] #129 closed

[2015-08-04 19:23] jonathanolson commented on #124
I wasn't able to reproduce on Curie or Turing.

@ariel-phet, is this worth a trip to the Apple store to investigate? I'm not sure I have access to any other devices that have the OS/Hardware combination.

[2015-08-04 19:24] jonathanolson commented on #104
Since the bond angle readout part is fixed, and we're not really supporting that browser, I'm closing this issue.

[2015-08-04 19:24] #104 closed

[2015-08-04 22:04] oliver-phet commented on #124
I was able to reproduce this behavior on my 13" MBPR. Will update with more info as it becomes available.

[2015-08-04 22:07] oliver-phet commented on #124
This was an error in the web inspector:
[Error] TypeError: undefined is not an object (evaluating 'safari.self.tab.dispatchMessage')
	send_focus (onloadwff.js, line 139)
	(anonymous function) (onloadwff.js, line 143)

[2015-08-06 17:07] jonathanolson opened #133 "Detect IE incompatibility and display warning message with information"
Detect the presence of https://github.com/phetsims/molecule-shapes/issues/132, and display a warning (and link?) about how to resolve.

[2015-08-06 18:00] jonathanolson commented on #133
Investigate Canvas fallback first, and have a specific error message for this case. No need to have a landing page.

[2015-08-13 16:41] jonathanolson commented on #133
Text approved during status meeting, closing.

[2015-08-13 16:41] #133 closed

[2015-08-13 20:14] jonathanolson commented on #124
Now can't reproduce on @oliver-phet's laptop. Since it seems hardware specific and random, and I feel like there is very likely nothing I could do to fix it even if we know more about the problem (I've googled about this a ton), I think it's worth marking as will-not-fix.

@ariel-phet, thoughts?

[2015-08-13 21:06] jonathanolson commented on #124
Closing as will-not-fix.

[2015-08-13 21:06] #124 closed

[2015-08-14 23:22] elisemorgan commented on #126
@jonathanolson The Long String Test looks much better it's just still a little bit messy on the Real Molecules page. Pretty minor
Test device:

Operating System: Windows 8

Browser: Chrome

Problem description: Long String Test

Steps to reproduce:

Severity: Minor

Screenshots:
![screenshot 1](https://cloud.githubusercontent.com/assets/12610678/9285980/9bebf93c-42a0-11e5-9717-80bd544573d4.png)

T

[2015-08-25 17:54] jonathanolson opened #134 "Add public/private docs to everything"
Delayed until next maintenance release.

[2015-09-29 20:38] pixelzoom opened #135 "Uncaught TypeError in Sphere3"
While testing an unrelated change (https://github.com/phetsims/molecule-shapes/commit/783da476b22f1048054548037f942031d9c19421), I discovered that molecule-shapes is broken.

Mac OS X 10.5.5, Chrome 45.0.2454.101 (64-bit) (latest).  Other platforms untested.

To reproduce:

1. start the sim
2. select "Model" screen
3. move the mouse in the browser window

Stack trace:

[code]

[2015-10-10 09:03] jonathanolson commented on #120
For reference, over the last month about %0.2 of Molecule Shapes (and Basics) runs resulted in a context loss. Of those context losses, 80% of them occurred in just 2 days (probably either one user retrying, or a few classrooms that all had issues).

[2015-10-30 20:48] jonathanolson opened #136 "Automated testing error"
[code]

[2015-11-10 20:16] #136 closed

[2015-11-10 20:16] jonathanolson commented on #135
Was fixed by dot/sim updates previously.

[2015-11-10 20:16] #135 closed

[2016-01-14 21:35] jonathanolson commented on #134
Done.

[2016-01-14 21:35] #134 closed

[2016-01-14 21:47] jonathanolson commented on #120
I can actually reliably cause a context loss with the MacBook Air (Chrome) by having the sim open on one of the screens and then plugging in the external monitor. Seems like something that teachers/instructors would do.

[2016-01-15 18:49] BryceAG opened #137 ""Real" button lost and text box overlap with long test"
Test device:
Dirac, Bates

Operating System:
OS X 10.11.2, Windows 7

Browser:
Chrome, Safari, Firefox, Internet Explorer

Problem description:
Using the long test and in the real molecules section the button for the "real" molecule shape is offscreen to the left. It is still clickable by clicking the text. The window can be stretched so that it is onscreen, but it is off for fullscreen. The text

[2016-01-15 19:30] phet-steele opened #138 "i18n Name box dynamically resizes"
Potential i18n issue:

If it so happens that during a translation, the "Trigonal Bipyramidal" string becomes longer, an incredibly distracting box resize occurs when adding or removing objects. Easily seen with stringTest=double and in the below gif. Watch that the bottom left "Name" box gets larger when any geometry becomes trigonal bupyramidal. This happens regardless of whether the show/hide ch

[2016-01-15 19:34] ariel-phet commented on #138
@phet-steele going forward for RC test task issues please reference the original task when creating the issue (I will be spreading the word to all testers). For instance just comment

Related to https://github.com/phetsims/tasks/issues/477

[2016-01-15 19:35] phet-steele commented on #138
@ariel-phet oh right! Forgot that was a new thing.

[2016-01-15 19:37] phet-steele commented on #137
Related to phetsims/tasks/issues/477

[2016-01-15 19:38] ariel-phet commented on #138
@phet-steele could you maybe also put this in the "ticket instructions" doc?

https://docs.google.com/document/d/1snxCn_qN5lrlNc-0ZU-3Wp8dG3eoJx8mNzT5jfL4nuQ/edit#heading=h.j1r8g764lruu

[2016-01-15 19:42] phet-steele commented on #138
@ariel-phet what's the reason for not doing this for dev testing, if there is a reason?

[2016-01-15 19:44] ariel-phet commented on #138
@phet-steele doesn't hurt for dev testing, but RC testing is a bit more "codified"

[2016-01-15 20:16] BryceAG commented on #137
Also related, in the model section, the "Remove All" button is (barely) cut off on the right in long test. This is also seen in Molecule shapes basics. Related to phetsims/tasks#478

[2016-01-15 21:10] ariel-phet commented on #137
@jonathanolson just as a reminder note, we want to make sure ?stringTest=double passes, but problems encountered with ?stringTest=long do not necessarily need to be addressed

[2016-01-26 20:29] #137 closed

[2016-01-28 16:48] jonathanolson commented on #138
Somehow this is working on my local machine, but still broken on the RC and phettest.colorado.edu?

[2016-01-28 21:51] jonathanolson opened #139 ""Open" control panel titles look bad when in front of molecule"
@phet-steele noticed a graphical quirk when strings are longer and outer lone pairs are enabled on big molecules.

This is most noticeable when stringTest=double or longer, but can be triggered for a fraction of a second in the English translation (by quickly moving XeF4 with lone pairs enabled):

![screen shot 2016-01-28 at 2 47 57 pm](https://cloud.githubusercontent.com/assets/480878/12659921/6b

[2016-01-28 21:52] jonathanolson commented on #139
Noticed in testing for https://github.com/phetsims/tasks/issues/491

[2016-01-29 01:55] ariel-phet commented on #139
@jonathanolson I agree that is a bit distasteful (and good observation @phet-steele!)

In this particular case, I think this situation will be rare, and although a bit aesthetically displeasing, I think it is not currently worth addressing considering the rarity.

Marking "wonfix" and closing

[2016-01-29 01:55] #139 closed

[2016-01-29 06:35] ariel-phet commented on #138
fix confirmed, closing

[2016-01-29 06:35] #138 closed

[2016-01-29 06:36] ariel-phet opened #140 "Remaining S2015R items"
**Design/Admin**
- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [ ] Check sim primer is up to date

[2016-01-29 06:37] ariel-phet commented on #119
Since this issue has been addressed, can this be closed @jonathanolson?

[2016-01-29 06:38] ariel-phet commented on #120
@jonathanolson - what is the status of this issue?

[2016-01-29 18:57] jonathanolson commented on #119
Branch looks simple enough to rewrite, will delete the branch and close.

[2016-01-29 18:57] #119 closed

[2016-01-29 18:58] jonathanolson commented on #120
@ariel-phet, it's minorly annoying to have to restart the sim when I plug in/out the monitor, but since we have the detection working, a button that will trigger a restart, and due to the difficulty of properly fixing, I'm inclined to leave this open at at low priority.

[2016-01-29 19:02] ariel-phet commented on #120
Sounds good, will mark as bug and leave open unassigned

[2016-02-01 16:50] ariel-phet commented on #140
sim primer being covered by other issues, closing

[2016-02-01 16:50] #140 closed

[2016-08-25 23:31] pixelzoom opened #141 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim uses Panel option `minWidth` and relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:42] pixelzoom commented on #141
Same issue in molecule-shape-basics, which I'm assuming will be resolved via this issue.

[2016-08-26 15:03] pixelzoom commented on #141
Visually inspected and compared to published version, I see no change.  @jonathanolson Up to you whether you want to inspect further or close.

[2016-10-31 21:05] pixelzoom opened #142 "Replace getQueryParameter with QueryStringMachine"
Factored out of phetsims/query-string-machine#15

[2016-10-31 21:39] pixelzoom commented on #142
This sim doesn't have a *QueryParameters file, so I'm not going to do the conversion.

[2016-11-10 20:07] jessegreenberg opened #143 "MoleculeShapesColors should use ColorProfile"
From https://github.com/phetsims/scenery-phet/issues/278, MoleculeShapes uses a unique implementation for color profiles, and it should use the common approach in ColorProfile.

[2016-11-11 21:05] jessegreenberg commented on #143
MoleculeShapesColors renamed to MoleculeShapesColorProfile and usages use the Property API instead of PropertySet since ColorProfile will soon replace PropertySet with Property.  Closing.

[2016-11-11 21:05] #143 closed

[2016-11-14 02:59] pixelzoom commented on #142
This was making it difficult to proceed with phetsims/query-string-machine#15, so I did the conversion. @jonathanolson please review.

[2016-11-14 17:21] jonathanolson commented on #142
Looks good.

[2016-11-14 17:21] #142 closed

[2016-12-21 22:40] oliver-phet opened #144 "User reported issue: Chrome behavior"
Test device: Mac (2.7 GHz Core i5, 4 GB 1333 MHz DDR3 RAM)

Operating System: OS X 10.9.5

Browser: Google Chrome, the latest version (it works perfectly in Firefox and Safari)

Problem description: The molecule doesn't appear on the black background, only a white screen is there

Steps to reproduce: Simply open the simulation in the latest version of Chrome, and select either "model" or "real mol

[2016-12-21 23:28] ariel-phet commented on #144
@oliver-phet you were able to reproduce?

[2016-12-22 02:03] oliver-phet commented on #144
No. I didn't try our 10.9 machine, but couldn't on mine.

[2016-12-22 02:22] ariel-phet commented on #144
@oliver-phet lets first see if we can reproduce on our 10.9 machine before having JO take a look. If you cannot reproduce on 10.9, lets see if the user can let us know their GPU. Also could you have the user run on chrome with `?webgl=false` (I have a sneaking suspicion this might be a webgl/blacklisted GPU issue)

[2016-12-22 02:23] ariel-phet commented on #144
@oliver-phet actually regardless it would be good to ask the user to run with `?webgl=false` as that might narrow the issue

[2017-01-05 19:06] oliver-phet commented on #144
Asked for another update from the user. If I don't hear back, I'll close this issue for now.

[2017-01-06 17:18] jonathanolson opened #145 "Automated fuzzing failure"
[code]

[2017-01-06 17:18] jonathanolson commented on #144
I'll want to check whether this is related to https://github.com/phetsims/molecule-shapes/issues/145

[2017-01-10 19:59] oliver-phet commented on #144
I just heard back from the user:

[2017-01-10 22:08] oliver-phet commented on #144
I just got around to testing on one of our 10.9.5 machines and this behavior wasn't reproducible.

[2017-01-13 21:46] samreid opened #146 "Automated testing failure: Assertion failed: center should be a finite Vector2"
molecule-shapes
Uncaught Error: Assertion failed: center should be a finite Vector2
Error: Assertion failed: center should be a finite Vector2
    at window.assertions.assertFunction (http://localhost/assert/js/assert.js:21:13)
    at LabelFallbackNode.setCenter (http://localhost/scenery/js/nodes/Node.js?bust=1484343713221:2532:17)
    at LabelFallbackNode.set center [as center] (http://localhost/

[2017-01-24 00:02] oliver-phet commented on #144
Assigning this back to AP.

[2017-01-24 00:44] ariel-phet commented on #144
Seems like one of the GPU issues. So not worth pursuing further.

@oliver-phet I would say for any future issues like this, try the ?webgl=false method with users as a first step.

[2017-01-24 00:44] #144 closed

[2017-02-23 06:03] jonathanolson commented on #146
Automated testing shows no failures since the above commit. Closing.

[2017-02-23 06:03] #146 closed

[2017-02-23 06:03] jonathanolson commented on #145
Automated testing shows no failures since the above commit. Closing.

[2017-02-23 06:03] #145 closed

[2017-03-07 22:52] pixelzoom opened #147 "phet.joist.sim.version is 'joist internal'"
MoleculeShapesScreenView contains this bit of code:

[code]

`phet.joist.sim.version` is annotated as `@public (joist-internal)`, so Molecule Shapes should not be using it. And it's causing me problems over in phetsims/joist#406, where I am investigating making `sim.version` go away.

[2017-03-07 22:53] jonathanolson commented on #147
What is the proposed way of getting the sim version?

[2017-03-07 22:58] pixelzoom commented on #147
How about using SimVersion? https://github.com/phetsims/joist/issues/406#issuecomment-284888193

[2017-03-07 23:00] jonathanolson commented on #147
The proposed sim.simVersion (a {SimVersion}) is joist-internal? Or is there another way?

At the time of the commit that added this (https://github.com/phetsims/molecule-shapes/commit/b3c9374bf7c84085a08f68e084e53ca741305f5c), `sim.version` had no visibility annotation (https://github.com/phetsims/joist/blob/34d30e21fd7dade606c051c6a5504ebcd2d407b7/js/Sim.js), and presumably it was public?

[2017-03-07 23:17] jonathanolson commented on #147
I'll be happy to change the molecule-shapes/neuron usages when there's a public way to get the version string (I didn't see one, let me know if one exists now).

[2017-03-07 23:18] pixelzoom commented on #147
`@public (joist internal)` was added by @samreid in https://github.com/phetsims/joist/blob/929223ee36707f75badd5845d142ffcafded5f11/js/Sim.js

[2017-03-07 23:19] pixelzoom commented on #147
@jonathanolson What was your vision for SimVersion? Looks like you added it for UpdateCheck (the only use).

[2017-03-07 23:25] jonathanolson commented on #147
A common place for parsing/comparing or analyzing versions, such as the question "is this a production version" that we're encountering now, so that logic wouldn't be duplicated in multiple places. Doesn't really solve that at the moment, as we can't use it in Node.js code.

Pulling it out so perennial could use it (for build-server and maintenance releases) complicates things massively if it ever

[2017-03-09 18:12] pixelzoom commented on #147
3/9/17 dev meeting:
Molecule Shape and Neuron use this same bit of "context loss listener" code.  Factor that out (and address the version identifier issue) in https://github.com/phetsims/phetcommon/issues/38.
Closing.

[2017-03-09 18:12] #147 closed

[2017-04-04 22:44] pixelzoom opened #148 "fails stringTest in Options dialog"
With `?stringTest=xss`, it's apparent that the Options dialog's content has no `maxWidth`.

If doing a maintenance release, you need to pickup the fix for the "Options" title in https://github.com/phetsims/joist/issues/416.

[2017-04-06 09:00] #148 closed

[2018-10-24 04:54] jonathanolson opened #149 "Non-WebGL screenshot is reversed"
So this is a bit weird, but when a screenshot is taken when WebGL is disabled, it seems to be flipped:

Actual screenshot (from OS):
![molecule-shapes-manual-screenshot-1](https://user-images.githubusercontent.com/480878/47407041-76f7be00-d716-11e8-88de-40234f723714.PNG)

From the PhET menu:
![molecule-shapes-auto-screenshot-1](https://user-images.githubusercontent.com/480878/47407045-7eb76280-d71

[2018-10-24 04:57] jonathanolson commented on #149
Should be fixed above. @ariel-phet I assume this is not significant enough for a maintenance release?

[2018-11-29 00:07] kathy-phet opened #150 "Republish from master: Deliver ePub version"
A client has requested the ePub compatible files for this simulations. Deadline for delivery is in March, but perhaps we can fit it in soonish if there are no real barriers to republishing from master and JO has a bit of time to review.

This would have the benefit of also capturing Legends of Learning support. Let's touch base on this at status tomorrow, and look at current QA load to see if now

[2018-11-29 00:13] jonathanolson commented on #150
Sounds good to me. Also looks like Area Model 1.1 should be ready to branch (those could be done at the same time).

[2018-11-29 00:16] arouinfar opened #151 "LoL Icons/Descriptions"
For #150

Marking this as `status:on-hold` until the sim is in testing.

[2018-11-29 00:18] kathy-phet commented on #141
@jonathanolson - Is this something that you would fix for release from master?

[2018-11-29 00:21] kathy-phet commented on #120
I don't really understand this issue.

[2018-11-29 01:35] samreid commented on #150
Maybe Graphing Quadratics can get the same SHAs?  And Wave Interference is hopefully not far off.

[2018-11-29 01:57] jonathanolson commented on #150
It's possible, as long as it's ok to wait until they are all ready (and one developer would make all the branches at the same time).

[2018-11-29 02:00] jonathanolson commented on #120
Basically right now certain situations (unplugging and replugging a monitor, swapping a graphics card in/out or upgrading drivers, graphics driver crashes, etc.) where WebGL won't be able to continue working. Right now it pops up a dialog with a button that will refresh the sim (to get it working again).

It would be possible to alternatively detect this and switch to the canvas (fallback) renderi

[2018-11-29 02:02] jonathanolson commented on #141
This looks like it didn't affect anything, as the content should be fitted. Closing.

[2018-11-29 02:02] #141 closed

[2018-12-03 19:55] ariel-phet commented on #149
@jonathanolson agreed not significant enough for a maintenance release (especially since people should mostly be on browsers that support WebGL these days)

[2019-02-14 23:35] lmulhall-phet opened #152 "Low graphics warning"
**Operating System**

Windows 10

**Browser**

Chrome

**Problem Description**

"Running with low graphics quality" warning on the home screen. Seen on multiple browsers on a Win10 machine and a macOS machine.

NB, only seen on MSB.

**Visual**

![screenshot 17](https://user-images.githubusercontent.com/31285590/52824350-61b3f000-3075-11e9-96f5-e2f5db8d58dc.png)

<details>
<summary><b>Troubleshoot

[2019-02-14 23:54] KatieWoe opened #153 "Color of atoms in molecule hard to distinguish"
For https://github.com/phetsims/QA/issues/280
I noticed that many of the central atoms are hard to tell apart from the surrounding atoms.  This is particularly true if colorblindness is taken into account.  I was looking at MS:B.
Normal View
![notevencolorblind](https://user-images.githubusercontent.com/41024075/52825239-2b786f80-3079-11e9-84c6-3dafd5547f3b.jpg)
Colorblind Filter
![colorblind](htt

[2019-02-15 16:07] KatieWoe commented on #152
Linking to the rc: https://github.com/phetsims/QA/issues/280

[2019-02-15 16:25] KatieWoe commented on #152
Also note that it does not actually appear that webgl is off.

[2019-02-15 16:30] KatieWoe commented on #149
It now seems to be completely missing from the screenshot when webgl is off.  I think between the two.  Reversed would be preferred.  Taken with webgl=false query parameter.
Actual view taken with Win 10 tool:
![actual](https://user-images.githubusercontent.com/41024075/52869945-067d0e80-3104-11e9-9d50-c101e772c39b.jpg)
PhET menu screenshot:
![molecule shapes_ basics screenshot 1](https://user-ima

[2019-02-15 16:33] KatieWoe commented on #149
Actually, looking at some more, it seems to move elsewhere:
![molecule shapes screenshot](https://user-images.githubusercontent.com/41024075/52870308-c9654c00-3104-11e9-83a9-061b35486a82.png)

[2019-02-15 17:05] KatieWoe opened #154 "Red X appears on bond atoms not present upon load"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/279 and https://github.com/phetsims/QA/issues/280
Upon first load and entering the Model screen, the red "get rid of" x's are present on all possible options, even though they should only be on the single bond.  Clicking on these red x's that aren't meant to be

[2019-02-15 19:16] KatieWoe opened #155 "Projector Mode max width short"
For https://github.com/phetsims/QA/issues/279
When stringTest=long click on the options from the PhET menu and observe that the bottom line is shorter than the one above it.
![optionmaxwidth](https://user-images.githubusercontent.com/41024075/52879060-85317600-311b-11e9-94ba-feba271aa273.jpg)

[2019-02-15 20:07] KatieWoe opened #156 "Win 10 Firefox Model Screen blank"
**Test device:**
Dell and Hanson
**Operating System:**
Win 10 (Happens on both Win 10 test devices)
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/279 and https://github.com/phetsims/QA/issues/280
Only seen so far on Win 10 firefox.  Not on Win 7 or Mac.
The model screen is blank except for the PhET button and the molecule.  When the PhET button is clicked

[2019-02-15 20:17] KatieWoe commented on #156
Attempting to take a screenshot in this condition freezes the screen.

[2019-02-15 20:24] KatieWoe commented on #156
Parts have reappeared when using showPointerAreas after switching between the screen.  Not all parts, and everything flickers.

[2019-02-15 20:54] KatieWoe commented on #156
The image on the nav bar seems to always highlight the real molecules page.

[2019-02-15 21:27] phet-steele commented on #156
Associated error:
[code]

[2019-02-15 21:30] phet-steele commented on #156
This is NOT occurring in the published version (1.1.16).

[2019-02-15 21:30] phet-steele commented on #154
This is NOT occurring in the published version (1.1.16).

[2019-02-15 21:32] phet-steele commented on #152
This is NOT occurring in the published version (1.1.16).

[2019-02-18 18:56] KatieWoe opened #157 "Molecules can change other molecule's orientation"
For https://github.com/phetsims/QA/issues/280 and https://github.com/phetsims/QA/issues/279
Found on the real molecules screen when using the dropdown box to select different molecules.  When you move a molecule by clicking on it and dragging it, then switch to a different molecule, that molecule is unaffected and returning to  the original resets it to its default position.  If you click in anoth

[2019-02-18 19:10] KatieWoe commented on #149
Update: this seems to happen on most platforms I've checked, but I've found at least one so far (Win 7 chrome) that doesn't.

[2019-02-18 20:47] KatieWoe opened #158 "Rotation of outer lone pairs"
For https://github.com/phetsims/QA/issues/279.  Very minor.  Appears in published version
When switching between the real and model versions of a molecule any outer lone pairs may rotate.  This seems to occur when switching from model to real.
To Reproduce:
1. Go to the real molecule screen
2. Go to options and activate the outer lone pairs
3. Go to CO2 (others will sometimes work, this seems most

[2019-02-18 22:04] arouinfar commented on #153
Thanks @KatieWoe! I checked with @jonathanolson and this sim is using nitroglycerin for the various atom colors (https://github.com/phetsims/nitroglycerin/blob/master/js/Element.js#L71-L87).

[code]
These colors appear to come from [CPK coloring or Jmol](https://en.wikipedia.org/wiki/CPK_coloring#Modern_variants), but there are some combinations which have pretty poor contrast for various forms of

[2019-02-18 22:10] arouinfar opened #159 "Color of Br is incorrect"
Discovered in #153, and should be addressed before the next release, so tagging https://github.com/phetsims/QA/issues/280 too.

According to https://github.com/phetsims/nitroglycerin/blob/master/js/Element.js, the color of bromine (Br) should be `rgb(190,30,20)` and boron (B) should be `rgb(255,170,119)`.

Currently, it appears Br and B are both `rgb(255,170,119)`.

BrF5:
![image](https://user-ima

[2019-02-18 22:26] arouinfar commented on #153
See the above nitroglycerin issue.

[2019-02-18 22:26] #153 closed

[2019-02-18 22:35] arouinfar opened #160 "LoL Icons/Descriptions"
For https://github.com/phetsims/QA/issues/279

[2019-02-18 22:37] arouinfar commented on #160
Oops, looks like I had already opened an issue for this #151, so closing this as a duplicate.

[2019-02-18 22:37] #160 closed

[2019-02-18 22:39] arouinfar commented on #151
Removing `status:on-hold` since we're now in RC https://github.com/phetsims/QA/issues/279.

[2019-02-18 23:36] arouinfar commented on #158
Nice observation @KatieWoe. This definitely looks a bit strange to me, but I think the rotation is occurring because the relative angle of the lone pairs is different.

Here's an alternative view of Model. I'm not sure why the angle between the external lone pairs is a bit variable.
<img src="https://user-images.githubusercontent.com/8419308/52980021-69d19f80-3395-11e9-8231-79935da8c048.png" width

[2019-02-18 23:48] arouinfar commented on #157
Nice catch @KatieWoe. This is definitely a bit strange.

Steps to reproduce:
1. On startup, change water's orientation by clicking on the molecule itself.
2. Switch to a different molecule.
3. Switch back to water. The orientation has reverted to the startup orientation:

![water](https://user-images.githubusercontent.com/8419308/52981298-10b93a00-339c-11e9-8608-e401f57ee072.gif)

4. Change water'

[2019-02-19 02:09] jonathanolson commented on #157
Implemented and patching in the release branches. @KatieWoe can you verify master?

[2019-02-19 02:21] jonathanolson commented on #158
I don't recall the exact reason, but I believe it was known and was too minor to handle before.

I think it's due to how the real molecule data is initialized.

[2019-02-19 02:46] jonathanolson commented on #159
Should be patched in master and the release branches. Can you verify?

[2019-02-19 15:35] arouinfar commented on #158
Thanks @jonathanolson. I would agree it's still pretty minor, so I'll close as `type:wontfix`.

[2019-02-19 15:35] #158 closed

[2019-02-19 15:40] arouinfar commented on #159
@jonathanolson I pulled all, but the color of Br and B still appear to be the same in master.  Not sure what's going on.

[2019-02-19 15:50] KatieWoe commented on #157
Looks good on master

[2019-02-20 20:51] jonathanolson commented on #159
I hadn't pushed somehow, sorry! Fixed, and tested on another computer to ensure. Can you verify?

[2019-02-20 20:57] arouinfar commented on #159
Looks good in master @jonathanolson!

[2019-02-21 00:26] arouinfar commented on #151
LoL assets are ready for delivery, but are awaiting sim redeploy.

[2019-02-21 17:25] KatieWoe commented on #149
Odd webgl=false behavior I noticed in some cases while looking at this.  In https://github.com/phetsims/QA/issues/280 (basics) there seems to be a black box around the atoms that can be added in the model screen.
![molecule shapes_ basics screenshot-1](https://user-images.githubusercontent.com/41024075/53188593-f7460700-35c2-11e9-9a72-c023313bc829.png)

[2019-02-21 19:13] jonathanolson commented on #155
Should be patched in master and the RC branches, can you verify master?

[2019-02-21 19:20] jonathanolson commented on #152
Ahh, looks like https://github.com/phetsims/molecule-shapes/commit/8d550e8cd016bf3d04e798f0e1d9985620c8bdaf#diff-54482e48a60d8bed87793f4c2c30eb31 only hit the non-basics version in the refactoring!

[2019-02-21 19:22] jonathanolson commented on #152
Should be patched in master and on the RC. Can you verify in master?

[2019-02-21 19:31] jonathanolson commented on #154
Identified a bug in the refactor of https://github.com/phetsims/molecule-shapes/commit/8d550e8cd016bf3d04e798f0e1d9985620c8bdaf#diff-c34bf7980f76ded9f8ba659f8ec22626, will have it fixed soon.

[2019-02-21 19:36] jonathanolson commented on #154
Patched on master and RC branches. Can you verify in master?

[2019-02-21 19:49] KatieWoe commented on #155
Looks good on master

[2019-02-21 19:51] KatieWoe commented on #152
Confirmed in master

[2019-02-21 19:52] KatieWoe commented on #154
Confirmed on master

[2019-02-22 16:06] KatieWoe opened #161 "Molecule in screen selection and boded atoms in model screen disappears"
**Device**
Dirac
**OS**
10.11.6 and 10.12.6 (and 10.10 but this browser is not supported there)
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/279 and https://github.com/phetsims/QA/issues/280
On the home screen and in the nav bar of the sim screens, the Real Molecules image is missing the ball and stick molecule, and only has the elements' letters.  webgl=fa

[2019-02-22 16:08] KatieWoe commented on #161
This also seems to be there in the published version.

[2019-02-22 16:24] KatieWoe opened #162 "Sim runs without webgl on Mac 10.11 chrome"
**Device**
Dirac
**OS**
10.11.6 and 10.12.6 (and 10.10 but this browser is not supported there)
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/279 and https://github.com/phetsims/QA/issues/280
WebGL seems to be off for the latest google chrome on Mac 10.11.6.  webgl=true does not seem to do anything.  Webgl does not seem to be off for the other browsers on 10.

[2019-02-22 16:26] KatieWoe commented on #161
The double and triple bonded atom selections on the model screen are also invisible @jonathanolson

[2019-02-22 17:00] KatieWoe commented on #161
If you use showPointerAreas the boded atoms seem to be shifted out of their clickable area.

[2019-02-22 18:26] KatieWoe commented on #161
I thought there may be a problem with the device, but I checked 10.11 on Magnus and it shows the problem as well.

[2019-02-22 19:31] jonathanolson commented on #162
What does the Report a Problem / troubleshooting info for the sim say about WebGL status?

[2019-02-22 20:28] KatieWoe commented on #162
[code]

[2019-02-27 08:20] jonathanolson commented on #149
@KatieWoe does the Win 7 Chrome by chance have a high-definition screen?

[2019-02-27 15:33] KatieWoe commented on #149
I do not believe it does @jonathanolson

[2019-02-27 16:55] jonathanolson commented on #149
I believe the "missing/repositioned molecule during non-webgl screenshot" should be resolved in master (and branches), can you verify?

Also, what platform has the black boxes on the basics screenshot? I can't reproduce that locally.

[2019-02-27 16:57] KatieWoe commented on #149
There were a few.  Win 7 chrome was the first I noticed.  I think some of the Macs had it too, but it seemed a bit random.

[2019-02-27 17:03] KatieWoe commented on #149
Screenshot issue looks solved on Win 10 chrome and edge.  Couldn't check Win 10 firefox due to separate issue.

[2019-03-01 18:05] JRomero0613 opened #163 "Lone Pair Can Be Dragged When Not Shown"
For https://github.com/phetsims/QA/issues/279 when the lone pairs are not shown, the region where the lone pairs were can be selected and dragged, making it confusing for the user. To replicate this make a molecule with lone pairs on the model screen, or select a molecule with lone pairs on the real molecules screen. Select the "show lone pairs" box such that the lone pairs are not shown, the lone

[2019-03-01 18:52] JRomero0613 commented on #163
As was just brought up to me by @KatieWoe the entire screen can be selected to drag the molecules around. Therefore I am closing this issue.

[2019-03-01 18:52] #163 closed

[2019-03-05 20:52] jonathanolson commented on #149
Black box issue being Firefox-specific looks like the potential result of custom code for https://github.com/phetsims/molecule-shapes/issues/129

[2019-03-05 21:27] jonathanolson commented on #149
It looks like THREE.js' canvas renderer on Firefox is not respecting the background transparency.

It still allowed me to set a background color properly (non-transparent), so I'm setting it to the background color of the sim (set to update) instead as a workaround.

@KatieWoe I believe these should now be fixed in master (and branches). Can you verify the black boxes, or let me know if there is a

[2019-03-05 21:31] KatieWoe commented on #149
https://github.com/phetsims/molecule-shapes/issues/156 prevents testing on that particular platform.

[2019-03-05 21:38] KatieWoe commented on #149
https://github.com/phetsims/molecule-shapes/issues/161#issuecomment-466456636 makes testing those platforms difficult as well.  I'll find at least two platforms that show the issue on the rc and verify they are fixed.

[2019-03-05 22:02] KatieWoe commented on #149
Checked at least two platforms.  Both seem fixed. @jonathanolson

[2019-03-07 17:08] jonathanolson commented on #162
Interesting. Just tested, and it looks like WebGL is potentially "technically" supported on Dirac, however because we provide the option failIfMajorPerformanceCaveat, the sim won't use it. I manually tested without that, and WebGL is SLOW if we use it (the canvas fallback is much nicer on Dirac).

@KatieWoe is there a good place to note that Dirac (or probably other devices like it) will not use W

[2019-03-07 17:09] KatieWoe commented on #162
I'll make a note to add it to the QA book.  Why was it only on chrome?

[2019-03-07 17:37] jonathanolson commented on #162
I didn't check the other browsers, but if it's only Chrome doing that then it's probably due to Chrome blacklisting the GPU or OS.

[2019-03-07 17:50] KatieWoe commented on #162
Firefox is doing some other weird graphical things.  https://github.com/phetsims/molecule-shapes/issues/161

[2019-03-19 08:17] jonathanolson commented on #161
I've spent a lot of time tracking this down and looking for solutions, but I'm stuck since this looks like a browser OR three.js bug that happens when a WebGL context is reused. This means that only the 1st screen icon works, or only the 1st set of bond label icons work, since those used shared contexts. Unfortunately, just using more contexts isn't an option currently, since browsers like to "dum

[2019-03-19 08:51] jonathanolson commented on #162
It seems the Firefox item is either unrelated (if it's a security issue that caused the blacklisting), or potentially due to general bugginess. Unassigning.

[2019-03-19 17:26] jonathanolson commented on #161
Patched on master and RCs to downgrade Firefox OS X 10.10-10.13 to Canvas. @KatieWoe can you check the behavior on master with Dirac?

[2019-03-19 18:45] KatieWoe commented on #161
Tested all browsers on 10.10, 10.11, and 10.12 on Dirac.  No problems seen.

[2019-03-28 10:37] jonathanolson commented on #156
Turns out this was fixed in https://github.com/phetsims/scenery/commit/5fe8d2b5e61f14a2550d36617fccfebcce93365d.

[2019-03-28 10:45] jonathanolson commented on #161
Since this is worked around, marking as fixed-pending-testing.

[2019-03-28 10:53] jonathanolson commented on #162
Since I believe we shouldn't change behavior here, I'm marking as will-not-fix.

[2019-03-28 14:51] KatieWoe commented on #159
This seems to be correct in rc.2

[2019-03-28 14:51] #159 closed

[2019-03-28 14:58] KatieWoe commented on #161
@jonathanolson this fix seems to have only been applied to Molecule Shapes Basics.  It still happens on Molecule Shapes

[2019-03-28 15:06] KatieWoe commented on #157
Seems fixed in rc.2

[2019-03-28 15:06] #157 closed

[2019-03-28 15:13] KatieWoe commented on #156
Seems fixed in rc.2

[2019-03-28 15:13] #156 closed

[2019-03-28 15:19] KatieWoe opened #164 "Screenshot shows bonded atom selections as lone pairs"
For https://github.com/phetsims/QA/issues/301 and https://github.com/phetsims/QA/issues/302
Found while testing https://github.com/phetsims/molecule-shapes/issues/156.  Seen so far on Win 10 firefox.
When taking a screenshot from the phet menu the items in the tool box that represent single, double, and triple bonded atoms all seem to look like the lone pair selection.
![Molecule Shapes screenshot

[2019-03-28 15:22] KatieWoe commented on #155
Looks good in rc.2

[2019-03-28 15:22] #155 closed

[2019-03-28 15:51] KatieWoe commented on #154
Looks good on rc.2

[2019-03-28 15:51] #154 closed

[2019-03-28 15:53] KatieWoe commented on #152
Looks good in rc.2

[2019-03-28 15:53] #152 closed

[2019-03-28 16:28] jonathanolson commented on #161
Applied to Molecule Shapes, created rc.3 at https://phet-dev.colorado.edu/html/molecule-shapes/1.2.0-rc.3/phet/molecule-shapes_en_phet.html. Should I update the RC issue or create another?

[2019-03-28 16:30] KatieWoe commented on #161
Haven't gotten too far, so update the rc and leave a comment saying you did that

[2019-03-28 17:08] KatieWoe commented on #161
Looks fixed in that rc.3

[2019-03-28 17:08] #161 closed

[2019-03-28 18:00] KatieWoe opened #165 "Lone pairs can reappear"
For https://github.com/phetsims/QA/issues/301
Silly thing I noticed that is present in the published version and likely doesn't matter.  If you add a lone pair while building a molecule and click to hide them, you can make them visible again without selecting that box again.  To do this, get rid of the hidden lone pairs, then add one back.  Ignore the string Test in this gif.
![reappearing](https:

[2019-03-28 18:23] KatieWoe opened #166 "Small bonded atoms"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/301 and https://github.com/phetsims/QA/issues/302
 The bonded atoms in the toolbox on the model screen seem smaller than normal.
**Steps to reproduce:**
1. Open the sim in Win 10 firefox.
2. Go to model screen
3. Compare to chrome

**Screenshots:**
Normal
![siz

[2019-03-28 18:32] KatieWoe commented on #165
Does not seem to happen on the second screen

[2019-03-28 21:47] kathy-phet commented on #165
I reviewed the behavior - and this actually seems like a design choice. I think we didn't want people to add lone pairs without being able to realize they were doing it, so we make it make them visible during the add process.

So I don't think this is a bug.

It won't happen on the second screen because you cannot add lone pairs.

[2019-03-28 21:48] KatieWoe commented on #165
Sounds good.  Closing

[2019-03-28 21:48] #165 closed

[2019-03-28 21:51] kathy-phet commented on #166
Confirmed this bug. And it is not present in the currently published version. @jonathanolson - Can you take a look at what is causing this?

[2019-03-28 21:58] kathy-phet commented on #164
Confirmed this too. Perhaps related to firefox smaller bond image issue. This should be fixed.

[2019-04-01 16:18] KatieWoe commented on #166
Looks good in the two rcs

[2019-04-01 16:18] #166 closed

[2019-04-01 16:18] KatieWoe commented on #164
Looks good in the two rcs

[2019-04-01 16:18] #164 closed

[2019-04-15 16:20] #151 closed

[2019-04-15 18:23] KatieWoe opened #167 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56155934-4f710800-5f79-11e9-9c9e-d3c92506

[2019-04-15 18:24] #167 closed

[2019-04-29 15:57] oliver-phet opened #168 "User request XYZ axis"
![Molecule Shapes Axis screenshot](https://user-images.githubusercontent.com/5090275/56909229-16e72900-6a65-11e9-8a03-dddf81c64ce6.png)

[2019-05-06 19:08] KatieWoe commented on #149
Since this is published I think it can be closed.  Your call @jonathanolson

[2019-12-17 17:48] arouinfar opened #169 "webgl warning obscured by navbar"
Discovered in https://github.com/phetsims/build-a-molecule/issues/105.

The webgl warning is cut off by the navabar in [latest](https://phet.colorado.edu/sims/html/molecule-shapes/latest/molecule-shapes_en.html?webgl=false).
![Molecule Shapes screenshot](https://user-images.githubusercontent.com/8419308/71020608-e3bbdd80-20b9-11ea-904e-d7de583fccd1.png)

This appears to have been introduced in the

[2019-12-17 23:12] arouinfar commented on #169
Well, it looks like this is already fixed in master, so unassigning @jonathanolson and marking as `status:fixed-awaiting-deploy`.

[2020-03-18 19:05] pixelzoom opened #170 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard for these files.

[2020-04-23 20:52] oliver-phet opened #171 "User suggestions: diatomic / polyatomic molecules, library of elements, connection distance"

[2020-04-23 21:24] arouinfar commented on #171
Some of the user's goals might be met by the Build a Molecule sim. On the Playground screen, users can build a molecule, and then see its 3D structure as either a space-filling or ball-and-stick representation.

BAM doesn't allow more than 4 bonds per atom, and is limited by the kits on each carousel page, but there are still 9000+ structures that can be built and inspected in 3D.

@oliver-phet ca

[2020-04-23 23:32] oliver-phet commented on #171
Email sent, closing for now.

[2020-04-23 23:32] #171 closed

[2020-12-15 20:55] oliver-phet opened #172 "User reported issue: missing central atom"

[2020-12-15 22:20] jonathanolson commented on #172
It's quite unclear to me what's going on. Might be a WebGL display issue. Might be the older version of Safari (maybe something's in the console). @ariel-phet thoughts, and should we see if we have a similar device/browser combo to test?

[2020-12-15 22:37] oliver-phet commented on #172
I did send the user the webGL disabled link to verify if this is a webGL issue. But I'm not sure what else might be causing. I didn't notice anything outdated/unsupported in the user agent info.

[2020-12-16 01:28] ariel-phet commented on #172
@oliver-phet can you also gather exact platform from the user if possible? You might also suggest something like clearing their cache (although that seem unlikely to cause an issue). Also perhaps inquire if the sim has worked for them before? As @jonathanolson pointed out it would be good to know if any sort of error is being thrown in the browser console.

Considering the popularity of this simul

[2021-03-18 18:47] KatieWoe opened #173 "CT build failed with status code 1"
Also in basics
[code]

[2021-03-18 23:34] jonathanolson commented on #173
This was recently fixed, it's building now in CT. Apologies!

[2021-03-18 23:34] #173 closed

[2021-03-23 21:46] KatieWoe opened #174 "CT invalid x:6 e: 1"
[code]

[2021-03-24 15:31] jonathanolson commented on #174
I've handled this specific error, but I'm stamping out others, apologies!

[2021-03-29 17:20] oliver-phet commented on #172
I haven't heard back from this user after asking for more information. Closing for now.

[2021-03-29 17:20] #172 closed

[2021-03-31 15:48] KatieWoe commented on #174
Unsure what this is, but it may be related, so I'm putting it here. Also in basics sim:
[code]

[2021-03-31 17:03] jonathanolson commented on #174
Ok, I believe this should FINALLY be resolved (was 4 separate subtle bugs, one of which took way too long to figure out).

@KatieWoe let me know if the above commit doesn't resolve all of the CT issues for this sim?

[2021-03-31 17:53] arouinfar opened #175 "PhET-iO Design Review"
For https://github.com/phetsims/special-ops/issues/190

* Rename the following phetioIDs to be a better match to the strings in the sim and/or be more understandable. (For simplicity, the other change requests in this issue will refer to the original phetioIDs.)
  - [x] `moleculeShapes.modelMoleculesScreen` > `moleculeShapes.modelScreen`
  - [x] `moleculeShapes.*.model.showElectronShapeNamePropert

[2021-03-31 22:44] KatieWoe commented on #174
Some CT issues still showing up. Are these separate @jonathanolson?
[code]

[2021-04-01 06:41] jonathanolson commented on #174
I solidly broke assertions for when webgl isn't enabled. Commit a minute ago should fix that! Yay for CT for catching that, hopefully should be resolved now?

[2021-04-01 06:44] jonathanolson commented on #175
I believe I've patched these up, and also made quality of life changes to assorted things that wouldn't have been testable before (e.g. visibility/text changes for panel titles, layout).

CT should hopefully be passing for this next bit.

Link is https://phet-dev.colorado.edu/html/molecule-shapes/1.3.0-dev.3/phet-io/

[2021-04-01 15:01] #149 closed

[2021-04-01 15:32] KatieWoe commented on #174
CT looks clear

[2021-04-01 15:32] #174 closed

[2021-04-02 03:39] arouinfar commented on #175
In the 4/1/20 design meeting, we discussed https://github.com/phetsims/molecule-shapes/issues/175#issuecomment-811299274 and decided not to pursue any further changes. After taking a look at the things in the state wrapper, the contents of `moleculeShapes.*.model` look good and capture the relevant information. We do not need to create a `model.moleculeProperty`.

@jonathanolson I reviewed 1.3.0-d

[2021-04-02 22:14] arouinfar commented on #175
@jonathanolson everything looks good in master. We decided to address the dynamic layout of the `namePanel` in the production release, so we can proceed with the rc-research.

[2021-04-02 23:15] phet-steele opened #176 "maxPairsProperty is easily exceeded when first interacting with the bond panels"
According to phetsims/special-ops/issues/190

Model Screen: This one is tricky. We would prefer to limit the number of electron pairs (whether binding or lone) to 4. That is, not to allow learners to create molecules like XY5, XY6, etc.

I can do this in phetsims/QA/issues/635 by changing `moleculeShapes.global.model.maxPairsProperty` to 4. However...

1. Enter Studio
2. Change `moleculeShapes.glo

[2021-04-02 23:49] phet-steele opened #177 "Playback wrapper lag"
I just want to note, that like with some other sims, this sim has some mildy slow performance in the playback wrapper. It's not the worst I've seen, admittedly, but I just want to make note of it. It really just looks like the playback is being played in slow motion when dragging bonds around. Note that in reality my mouse was moving much quicker than what you see below:

![MS01](https://user-imag

[2021-04-02 23:51] liam-mulhall commented on #177
Not seeing this on macOS + Safari.

[2021-04-07 00:27] jonathanolson commented on #175
Commit above (and multiple common code commits in scenery) have the name panel working nicely, @arouinfar can you verify?

[2021-04-16 15:48] arouinfar commented on #175
Looks great, thanks @jonathanolson!

[2021-04-16 15:48] #175 closed

[2021-04-16 21:22] arouinfar opened #178 "phetioFeatured overrides"
For #175

[2021-05-04 22:07] phet-steele opened #179 "Molecule drag is not interrupted when released out of frame"
Tested during phetsims/QA/issues/642 but originally reported in https://github.com/phetsims/QA/issues/630#issuecomment-811344484, what is described in that comment still occurs, but there was never any explanation as to why it happens or if this needs to be fixed. (Found on Win 10 Chrome) I'm making this issue now for more proper documentation. 👍

[2021-05-04 22:21] phet-steele opened #180 "Groups fly to the central atom at a slow pace"
I'm not sure if this is a performance problem or if it is going to just be device specific or what, but as soon as I open the sim and try to add an atom or lone pair, they fly towards the central atom incredibly slow. This gif is real time:

![MoSh01](https://user-images.githubusercontent.com/5863899/117077098-b85c8180-acf4-11eb-9d11-2fe99f2a93c8.gif)

Seen on Win 10 Chrome, for phetsims/QA/issues

[2021-05-05 17:42] jonathanolson commented on #176
I believe I've solved this (tested in the state wrapper through the console... studio seemed to not be transferring things at all right now).

Can you verify when studio is working?

[2021-05-05 22:00] jonathanolson commented on #177
@zepumph I think it was discussed that playback performance wasn't something to optimize, correct? (The approach definitely rebuilds the view)

[2021-05-05 22:02] jonathanolson commented on #180
I'm not able to reproduce. Is there console output? I have no idea why it's running that slowly. Any idea how I'd be able to reproduce this?

[2021-05-05 22:06] zepumph commented on #177
Yes. I have not yet recommended any time to solve this in the past, and I don't think @samreid has either. In my opinion, the playback wrapper is a tool that we use to ensure that the recording are complete. It also serves as an example of what PhET-iO can accomplish. I don't think time needs to be devoted to this issue personally.

[2021-05-05 22:15] phet-steele commented on #180
I really have no clue myself.

- Nothing in the console
- DOES happen in the published version
- `?profiler` shows no fps loss
- The animation seems to speed up briefly if I resize my window while they are flying.

[2021-05-10 22:08] arouinfar opened #181 "create phet-io client guides"
This sim will need client guides before we proceed with publication.

[2021-05-11 04:27] arouinfar commented on #181
Client guides for molecule-shapes and molecule-shapes-basics were added in the above commit. Leaving self-assigned to review and edit as necessary.

[2021-05-13 20:12] jonathanolson commented on #179
Patched, will wait on QA.

[2021-05-18 21:10] phet-steele commented on #179
Seems to work well enough in phetsims/QA/issues/649.

[2021-05-18 21:10] #179 closed

[2021-05-22 22:13] zepumph opened #182 "Provide consistent schema in toStateObject"
From https://github.com/phetsims/phet-io/issues/1774 and https://github.com/phetsims/axon/issues/357, we want to rein in how our states are constructed, and create 1 to 1 relationship between IOType and the state that type creates. Thus, every instance of a particular IOType should yield the same schema. I noticed while working mostly in https://github.com/phetsims/axon/issues/357 that MoleculeSha

[2021-05-22 22:16] zepumph commented on #182
Perhaps we will decide that the above is just fine. Likely this shouldn't be worked on until https://github.com/phetsims/phet-io/issues/1774 is finished though. Marking on hold.

[2021-05-24 15:36] jonathanolson commented on #182
Commit seems fine, but I'll be curious to see the long-term approach. Let me know when that's ready?

[2021-05-31 23:53] samreid opened #183 "Provide IO Types for MoleculeShapesModel schema"
From https://github.com/phetsims/phet-io/issues/1774, we should create IO Types that can correctly capture the schema of the state objects.

[code]

[2021-06-16 21:21] jonathanolson opened #184 "Zoom broken in navbar region"
This should borrow code from https://github.com/phetsims/mobius/commit/1bc815a57ec0c5925f16738a6d1eea259e5db11d (or we could drop support for the older three.js version and use mobius).

https://github.com/phetsims/buoyancy/issues/6#issuecomment-818851562 is the main presentation of the problem.

[2021-06-21 13:21] samreid opened #185 "VSEPRConfiguration.js:37:7 - error TS9006: Declaration emit for this file requires using private name 'ResultMapping'"
While working on https://github.com/phetsims/chipper/issues/1055, I saw this error for Molecule Shapes:

[code]

I don't really understand this problem (if it is really a problem), but it seems to be related TypeScript parsing this JSDoc:

[code]

And thinking it's referring to a private non-exported variable name ResultMapping.

[2021-06-21 13:25] samreid commented on #185
I worked around the problem by inlining the class declaration, and it seems to have corrected the problem.  I didn't devote more time to understanding the root of the problem since it only seems to affect a few files across our codebase.  @jonathanolson would you like to review?

[2021-06-21 15:06] jonathanolson commented on #185
That seems like a decent workaround, and looks good. Presumably we'll handle in a better way with typescript in the future?

[2021-06-21 15:09] samreid commented on #185
Yes, I think this problem occurs in JS but not TS, since in TS you import files to provide them in type annotations.  Closing.

[2021-06-21 15:09] #185 closed

[2021-06-22 22:30] pixelzoom opened #186 "Hot keys are not handled correctly in translated strings."
Noted while working on hot-key support for Fourier in https://github.com/phetsims/fourier-making-waves/issues/91.

Hot keys are inlined in the implementation, for example see greenhouse-effect MicroScreenView:

[code]

Then they are duplicated in the translated strings, for example in molecules-and-light-strings_en.json:

[code]

So if the code needs to be changed, we'll have to change (potentiall

[2021-06-23 16:50] jonathanolson commented on #186
Is this related to molecules-and-light or molecule-shapes? I'm a bit confused why it's opened in this repo.

[2021-06-23 18:52] pixelzoom commented on #186
Sorry, this should be in molecules-in-light.  Transferring the issue...

[2021-06-24 17:11] jonathanolson commented on #184
Ported this and fixed up screenshot handling.

[2021-06-24 17:11] #184 closed

[2021-06-26 00:33] arouinfar opened #187 "Update Teacher Tips"
The Teacher Tips for MS and MSB should be updated with the next release.

- [x] Add query parameter table: `screens`, `supportsPanAndZoom`, `colorProfile`, `showOuterLonePairs`, `maxConnections`

[2021-07-01 15:11] zepumph commented on #182
I believe the above COULD be the long term approach. Especially since it is sim-specific code, it is just a bit less type-safe.

We now have `stateSchema` to help validate the rigidity for each IOType. If you don't like the above, then the way forward would be to have an IOType for each unique state schema. So real and unreal molecules would each have their own IOType, thus there wouldn't be a con

[2021-07-22 18:06] arouinfar opened #188 "PhET-iO Design Comments - Round 2"
@jonathanolson @zepumph here are the remaining issues for Molecule Shapes (and Basics) that I mentioned in PhET-iO meeting. Feel free to split these off into separate issues, as necessary.

- [x] Add documentation to `model.moleculeQuaternionProperty`
- [ ] When selecting `*Screen.model` in Studio, you can see the initial value. Can we also display the current value?
- [x] Make `removeButton.enabl

[2021-07-23 15:47] arouinfar commented on #181
Cleaned up the guides in the above commits, closing.

[2021-07-23 15:47] #181 closed

[2021-07-26 05:07] arouinfar commented on #178
Overrides look good, closing.

[2021-07-26 05:07] #178 closed

[2021-07-29 22:25] KatieWoe opened #189 "CT ProjectorModeCheckbox requires sims that support the projector color profile and one other color profile"
[code]

[2021-07-30 19:52] jonathanolson commented on #189
@samreid It seems like ProjectorModeCheckbox was changed. How do I have molecule-shapes-basics switch between "basics" and "projector"? The error is happening in both sims.

[2021-07-31 19:55] samreid commented on #189
I can only see the error in molecule-shapes, and I corrected it by removing "basics" from its list of color profiles.  Ready for review.

[2021-08-02 15:53] jonathanolson commented on #189
I had to `grunt update` for it to work (committed above). Both sims working nicely, thank you!

[2021-08-02 15:53] #189 closed

[2021-08-02 18:26] KatieWoe opened #190 "CT phetioID missing from the baseline that was not an archetype"
[code]

[2021-08-03 18:10] jonathanolson commented on #190
@samreid any idea on this?

[2021-08-03 18:15] samreid commented on #190
I updated the tandem in the overrides file, can you please review/test?

[2021-08-03 19:27] jonathanolson commented on #190
Looks great, thanks!

[2021-08-03 19:27] #190 closed

[2021-08-16 19:40] zepumph commented on #188
@jonathanolson, please let me know if I can be of any assistance here, or if I should take over.

[2021-09-30 02:25] jonathanolson commented on #188
I didn't immediately adjust the projector-mode checkbox (as that's across other sims), should I add it to that?

[2021-09-30 02:26] jonathanolson commented on #188
@zepumph I'm not sure how to handle this, how do we show current state (instead of initial state) in studio?

[2021-09-30 02:27] jonathanolson commented on #188
Besides the above comments, I've implemented the changes. @arouinfar can you verify?

[2021-09-30 03:01] jonathanolson commented on #183
Handled above, closing.

[2021-09-30 03:01] #183 closed

[2021-09-30 03:02] jonathanolson commented on #180
I'm still unable to reproduce. @KatieWoe thoughts?

[2021-09-30 03:06] jonathanolson commented on #182
I believe the above is sufficient, extra IO types would probably introduce unneeded complexity. Does that sound good to you?

[2021-09-30 14:56] KatieWoe commented on #180
Could this be similar to the issue we saw on Steele's device in States of Matter https://github.com/phetsims/states-of-matter/issues/354. It had to do with the refresh rate of his device. Could that be a cause?

[2021-09-30 15:24] jonathanolson commented on #180
Yes, it looks similar! I reproduced with `?speed=0.1`:

![image](https://user-images.githubusercontent.com/480878/135484510-6f6f9dc9-8628-464b-8acf-75c804ba0915.png)

[2021-09-30 16:06] jonathanolson commented on #180
This should be fixed. @KatieWoe can you verify that the speed seems about normal (with a normal framerate), but also that things function properly with lower speeds (e.g. `?speed=0.1`).

[2021-09-30 16:41] KatieWoe commented on #180
I was under the impression that `?speed=x` was meant to change animation speed?

[2021-09-30 17:05] jonathanolson commented on #180
It changes the timesteps the entire simulation is given, e.g. with `?speed=10`, it will multiply each "elapsed time" by 10. So if your browser runs at 60fps (~0.016 seconds per frame), an elapsed time of 0.016s will be adjusted to 0.16s. This speeds up the sim, but also makes it mimic behavior as if it was running at 6fps.

So a `?speed=0.1` on a 60-fps device would effectively mimic behavior of 6

[2021-09-30 18:09] KatieWoe commented on #180
In that case this would affect most animations. I thought that was the intended behavior of that parameter.

[2021-09-30 22:18] KatieWoe commented on #180
Discussed with @jonathanolson to clarify above. Looks good on master.

[2021-09-30 22:48] jonathanolson commented on #180
Thanks!

[2021-09-30 22:48] #180 closed

[2021-10-07 18:09] arouinfar commented on #188
I want to feature `labelText.textProperty` in the overrides, so leaving this open and self-assigned.

[2021-10-07 19:01] arouinfar commented on #188
I updated the description of `maxConnections` in the client guides and featured `labelText.textProperty` for  checkboxes. @jonathanolson once #182 is wrapped up, we're ready to proceed to QA. Closing.

[2021-10-07 20:34] #188 closed

[2021-10-08 12:14] Nancy-Salpepi opened #191 "Bond Angles Missing"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/715
https://github.com/phetsims/qa/issues/716

In the Model and Real Molecules Screens, the Bond Angles are not shown when the checkbox is checked.

**Visuals**
<img width="456" alt="Screen Shot 2021-10-08 at 8 11 21 AM" src="https://user-images.github

[2021-10-08 13:28] Nancy-Salpepi opened #192 "Panels cover molecule and button using stringTest=long"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/715

Using stringTest=long:
1. In the Model Screen, the molecule is partially covered by the panels.
2. In the Real Molecules Screen, the Model Button and the Molecule Panel overlap.

**Visuals**
<img width="605" alt="Screen Shot 2021-10-08 at 9 12 17

[2021-10-09 13:51] Nancy-Salpepi opened #193 "Console errors when 'Options' is selected in PhET-iO menu"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
safari 15

**Problem description**
https://github.com/phetsims/qa/issues/715

In the State Wrapper, with the query parameter ?phetioDebug, console errors appear when 'options' is selected in the PhET-iO menu. Once that occurs, the downstream sim will no longer respond to any changes made in the upstream sim.

**Steps to

[2021-10-12 18:55] Nancy-Salpepi opened #194 "Only display outer lone pairs if "Show Outer Lone Pairs" and "Show Lone Pairs" are checked"
The checkbox for 'show outer lone pairs' is currently in the Options dialog found in the PhET menu.
This means that this option is not affected by the Reset All button (and the location seems odd in general).
Perhaps move to Options Panel and couple with 'show loan pairs?'

In studio, I also don't see anywhere in the tree that would change the visible property of the 'Show Outer Lone Pairs' checkb

[2021-10-12 19:37] Nancy-Salpepi opened #195 "Mirror Wrapper not working properly"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/715
https://github.com/phetsims/qa/issues/716

The mirror image does not always match the original sim.

**Steps to reproduce**
1. Select the Model Screen
2. Select 'Remove All'
3. Check 'Show Bond Angles'
4. Add a single bond and then another--they tw

[2021-10-21 13:23] Nancy-Salpepi opened #196 "Lone pair orientation inconsistent"
**Test device**
MacBook Air (m1 chip) and Chromebook

**Operating System**
iOS 11.6

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/715

In the Real Molecules Screen, when switching back and forth between 'real' and 'model' several times, the orientation of the lone pairs changes--meaning, where they are located the first time 'real' is selected may not be the sa

[2021-10-28 23:59] Nancy-Salpepi opened #197 "Ability to rotate molecule by clicking anywhere on screen"
**Test device**
Dell

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/715
https://github.com/phetsims/qa/issues/716

With the query parameter, showPointerAreas, it looks like the user should only be able to rotate the molecule by grabbing onto a terminal atom or lone pair (red highlights). However, if I click and drag on other area

[2021-10-29 19:39] arouinfar commented on #197
Thanks @Nancy-Salpepi. I think this is intentional behavior. Dragging the background rotates the molecule as a whole without temporarily altering bond angles. Grabbing the atoms will also rotate the molecule, but the user also temporarily alters the bond angle.

In general, there are limitations to what `showPointerAreas` will display, so there may sometimes be a mismatch between the visuals and t

[2021-10-29 19:39] #197 closed

[2021-10-29 22:48] KatieWoe commented on #195
I saw this in basics as well, and in the recording wrapper. It seems to occur when dragging the central atom as well for me.
<img width="619" alt="mirroroff" src="https://user-images.githubusercontent.com/41024075/139509188-e48566bd-82bd-4eed-a918-3c44951f191f.png">

[2021-11-01 17:42] Nancy-Salpepi opened #198 "'Remove All' button does not stay disabled in Studio"
**Test device**
 iPad Air 2

**Operating System**
15.1

**Browser**
safari

Also seen with MacBook Air OS 12.0.1 + chrome

**Problem description**
https://github.com/phetsims/qa/issues/715
https://github.com/phetsims/qa/issues/716

After disabling the 'Remove All' button in Studio, the button becomes enabled once another bond is added to the molecule.

**Steps to reproduce**
1. Go to moleculeShape

[2021-11-03 23:55] jonathanolson commented on #193
Good find! I think the above commit should fix this, can you verify in master?

[2021-11-04 00:07] jonathanolson commented on #194
Implemented above, @arouinfar can you verify?

[2021-11-04 02:55] arouinfar commented on #194
Thanks @jonathanolson it looks like all lone pairs respect the "Show Lone Pairs" checkbox within the sim. However, something strange is going on with the `enabledProperty` of the checkbox itself.  The "Show Lone Pairs" checkbox is only enabled for molecules that have lone pairs on the central atom. This can lead to odd situations where there are lone pairs in the molecule, but the checkbox is disa

[2021-11-04 17:09] jonathanolson commented on #193
Thanks!

[2021-11-04 17:09] #193 closed

[2021-11-04 17:12] jonathanolson commented on #192
Should be working well with stringTest=long (ensure pulling sun if using phettest). Can you verify?

[2021-11-04 17:43] jonathanolson commented on #194
Changed above, can you verify?

[2021-11-04 18:16] arouinfar commented on #194
Looks good in master, thanks @jonathanolson. Not sure if you want this verified in the next QA cycle too or not, so back to you.

[2021-11-04 18:17] jonathanolson commented on #194
I'm fine closing, thanks!

[2021-11-04 18:17] #194 closed

[2021-11-04 18:34] Nancy-Salpepi commented on #192
Hey @jonathanolson! None of the side panels cover the molecule or model button anymore. The bottom panel seems to get unusually wide with stringTest=long. I feel like usually, the text gets really small, to the point of being unreadable, instead of the panel get extremely large.
There are a few instances where this panel overlaps the molecule in both stringTest=long and stringTest=double, but they

[2021-11-10 21:22] jonathanolson commented on #191
Should be fixed in master (although there seems to be another unrelated layout issue).

@Nancy-Salpepi can you confirm?

[2021-11-11 12:47] Nancy-Salpepi commented on #191
@jonathanolson this looks fixed in master for both molecule shapes and molecule shapes basics.

[2021-11-11 15:46] jonathanolson commented on #192
@arouinfar, how much should I limit the size of the panels? It looks like that example also will go "behind" the model/real radio buttons.

[2021-11-11 15:46] jonathanolson commented on #191
Thanks!

[2021-11-11 15:46] #191 closed

[2021-11-11 18:14] jonathanolson commented on #198
@arouinfar This is a case where whether the button is enabled is determined by the sim. Should we create a new Property to determine whether the button CAN be enabled?

[2021-11-11 20:21] arouinfar commented on #198
@jonathanolson I think in this case we can make the button's `enabledProperty` phetioReadOnly: true. The model should be controlling this property, not the client. If a client wants to prevent users from using this button, they can hide it instead.

[2021-11-16 22:11] arouinfar commented on #192
@jonathanolson I think there could have been a regression. The max widths all look reasonable with `stringTest=long`in the published version:
![Screenshot Capture - 2021-11-16 - 15-10-42](https://user-images.githubusercontent.com/8419308/142074153-45df65c6-00c6-401a-aded-bae65d1b76ae.png)

[2021-11-16 23:33] markgammon opened #199 "Molecule Shapes and Basics - Publish with PhET-iO"

[2021-11-17 18:52] jonathanolson commented on #195
Fixed in the tagged issue. Can you verify?

[2021-11-17 19:01] jonathanolson commented on #196
@arouinfar, any idea how much time this is worth tracking down? It probably isn't terribly easy to solve.

[2021-11-17 19:06] KatieWoe commented on #195
The part I saw looks ok on master. @Nancy-Salpepi I'll leave the rest of the conformation to you.

[2021-11-17 19:30] Nancy-Salpepi commented on #195
My part looks good on master as well @jonathanolson

[2021-11-17 19:59] arouinfar commented on #196
@jonathanolson this looks pretty minor to me. If there isn't a clear and easy solution, I'm fine with closing as wontfix.

[2021-11-18 00:37] jonathanolson commented on #198
Should be handled above.

[2021-11-18 00:42] jonathanolson commented on #192
This is the current behavior after fixes:
![image](https://user-images.githubusercontent.com/480878/142319181-b8c714a0-65e6-4bed-9164-2630c45e86b5.png)

However the behavior described in https://github.com/phetsims/molecule-shapes/issues/192#issuecomment-961312406 is still broken on the production version:
![image](https://user-images.githubusercontent.com/480878/142320603-73995b4f-a6da-4daa-aa17-

[2021-11-18 00:42] jonathanolson commented on #192
For reference, I've added a maxWidth on the panel title (mainly for other things, but it applies here).

So... is that acceptable overlap on the bottom panel? Is there anything I should do here?

[2021-11-18 17:19] arouinfar commented on #192
Yes, I think so. The overlap doesn't fully hide the structure, and the molecule can be rotated to remove the overlap
![image](https://user-images.githubusercontent.com/8419308/142464530-d0a29710-8788-495e-9e7f-1dd5729743fc.png)

[2021-11-18 18:30] jonathanolson commented on #192
Ok, will mark as ready for QA then (if there's something to do, reassign me).

[2021-11-23 17:22] KatieWoe opened #200 "CT cannot add the same listener twice"
Also in basics
[code]

[2021-11-27 13:19] Nancy-Salpepi commented on #192
Looks good.

[2021-11-27 13:19] #192 closed

[2021-11-27 13:56] Nancy-Salpepi opened #201 "Is the 'Show Lone Pairs' checkbox working correctly?"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/745

On the Model Screen, if I uncheck the Show Lone Pairs checkbox and then add another bond, it automatically checks that box again. Is this correct behavior?
I noticed that if you add a lone pair, uncheck the box and then add another bond, the box

[2021-11-27 18:23] Nancy-Salpepi opened #202 "Extra bond angle label"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/745

In the Real Molecules Screen, for ClF3, the sum of the two bond angles (or the distance between the 2 outermost atoms) is shown faintly. I don't see this with any other molecules.

**Visuals**
<img width="414" alt="Screen Shot 2021-11-27 at 12 1

[2021-11-29 17:38] Nancy-Salpepi opened #203 "Molecule sometimes vibrates after being rotated"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Seen on both Safari and Chrome

**Problem description**
https://github.com/phetsims/qa/issues/745

The SF4 molecule will sometimes begin to vibrate after being rotated. Not sure what triggers it. I have only seen it occur with this particular molecule and I have only seen it in the XHTML version.

**Steps to reproduce*

[2021-11-29 17:48] stemilymill commented on #203
I was able to reproduce this on Win10 Chrome on both html and xhtml, but only with the SF4 molecule so far. I reproduced it with and without the outer lone pairs visible.

[2021-11-29 18:34] Nancy-Salpepi commented on #203
I was just able to reproduce in the sim version on Mac + safari without outer lone pairs.
![vibratesim](https://user-images.githubusercontent.com/87318828/143923477-24d0d27a-39e5-4aea-8d23-e2f5ee5023d0.gif)

[2021-11-29 20:00] KatieWoe commented on #195
This is looking ok so far in rc.1, but since mirror wrapper was replaced with Input Record and Playback it is a bit harder to tell.

[2021-11-29 20:04] stemilymill commented on #203
Just reproduced on published version

https://user-images.githubusercontent.com/85511101/143934154-f32e557a-7e6e-4194-9b8c-c8a0b4dc9435.mp4

<details><summary>Troubleshooting information:</summary>
<p>

!!!!! DO NOT EDIT !!!!!
Name: ‪Molecule Shapes‬
URL: https://phet.colorado.edu/sims/html/molecule-shapes/latest/molecule-shapes_en.html
Version: 1.2.10 2021-09-23 10:04:37 UTC
Features missing: app

[2021-11-29 20:14] KatieWoe commented on #198
Looks good in rc.1

[2021-11-29 20:14] #198 closed

[2021-11-29 20:17] DevonQui commented on #202
I was able to recreate this in the Model screen of the sim as well. If you recreate the same T-Shaped molecule that ClF3 is then there will also be an extra bond label. However, you have to jiggle the molecule around or else it won't show up which I thought was a bit peculiar.

<img width="1440" alt="Screen Shot 2021-11-29 at 1 15 46 PM" src="https://user-images.githubusercontent.com/72042459/1439

[2021-11-29 20:51] KatieWoe commented on #195
Looks ok in rc.1. Closing. Will reopen if something comes up.

[2021-11-29 20:51] #195 closed

[2021-11-29 22:51] KatieWoe commented on #202
I was able to reproduce this in the published sim.

[2021-11-29 23:11] KatieWoe opened #204 "Many credits gone"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/745.
Most of the credits in the About section seem to be gone. Compare to V. 1.2, which is currently published.

**Visuals**
<img width="644" alt="12credits" src="https://user-images.githubusercontent.com/41024075/143957142-fe5af53d-a74d-4639-bae4-7df265beceaa.png">

[2021-11-29 23:17] KatieWoe commented on #204
Also seems to occur on basics

[2021-11-30 17:25] Nancy-Salpepi opened #205 "Bond Angle location not maintained for linear molecules in Studio/State"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome and Safari

**Problem description**
For https://github.com/phetsims/qa/issues/745 and https://github.com/phetsims/qa/issues/746

For linear molecules in both screens, the location of the bond angle and label can be different when viewing in Studio vs launched sim, or Upstream sim vs Downstream sim in State Wrapp

[2021-11-30 19:48] Nancy-Salpepi commented on #205
This seems similar to https://github.com/phetsims/molecule-shapes/issues/22

I do see it in the sim as well. For example, when switching between 'real' and 'model' for CO
![bondangleflips](https://user-images.githubusercontent.com/87318828/144117341-d0ed266d-5838-4b18-bef6-2c2d2dbc6a7d.gif)
2

[2021-12-02 21:56] KatieWoe opened #206 "Potential iPad Crashes"
For https://github.com/phetsims/qa/issues/745
When using `?showPointerAreas` on iPadOS 15, the sim crashed and reloaded after a few minutes of use. It also did it fairly quickly a second time (still with the parameter). I did see it again with `?stringTest=X`.
This type of crashing and reloading has been seen before on older iOSs and tended to be when the sim was using more resources. I also know

[2021-12-03 20:04] arouinfar commented on #205
Nice find @Nancy-Salpepi, especially with digging up #22.

@jonathanolson I'm a bit concerned that the bond angle shifts when the sim is launched. I don't think the shifting label itself is a particularly serious issue, but I wonder if it is indicative of deeper issues with state saving.

[2021-12-03 20:27] arouinfar commented on #204
Really great find @KatieWoe. Looks like the credits were updated in April 2019 in these commits https://github.com/phetsims/molecule-shapes/commit/5b6acdd1e382555ac824f2a10c45dbc104b5fa70 and https://github.com/phetsims/molecule-shapes/commit/d5b3ea6defa13762e6fadec8d33eedf04d98017f, but they were only applied to the 1.2 branch, not master.

@jonathanolson I went ahead and fixed the credits in mas

[2021-12-03 20:35] arouinfar commented on #204
I updated the credits in Basics in the above commits.

[2021-12-03 20:36] #196 closed

[2021-12-03 21:59] jonathanolson commented on #204
Thanks! Branches and master looks good, unassigning and marking for review for next RC (presumably)

[2021-12-03 22:05] jonathanolson opened #207 "Check memory leak"
https://github.com/phetsims/qa/issues/746#issuecomment-978485535 may indicate a leak

[2021-12-03 22:07] arouinfar commented on #201
Good catch @Nancy-Salpepi.

In the latest published version (1.2.10) the Show Lone Pairs checkbox is disabled when there aren't any lone pairs attached to the atom in the play area. The buggy-looking behavior we're seeing now is a result of a change request I made in #194.

The outer lone pairs are now hooked up to the Show Lone Pairs checkbox, but that lead to an odd situation:

I requested a cha

[2021-12-06 20:32] stemilymill commented on #206
I have been unable to reproduce this on iPad Pro with iPadOS 15.1

[2021-12-08 17:53] KatieWoe opened #208 "Metacog wrapper recorded wrong behavior"
For https://github.com/phetsims/qa/issues/745
When recording the sim on iPadOS 15.1 with metacog, I went into options and turned on some options such as lone pairs. When watching the playback, a screenshot was downloaded instead.

[2021-12-08 17:59] KatieWoe commented on #208
Watching the playback, I think I know what happened. On iPad, there are three things in the PhET Menu: Options, Screenshot, and About. On computer (where I was watching back, there is a forth (Full Screen). So when I clicked Options on iPad, it corresponded to where Screenshot is on other platforms.

[2021-12-08 18:11] jonathanolson commented on #208
Ahhh, presumably we'd need to include this metadata for playback to work. I also recall that we'd want to include platform details, font size metrics, etc.

@samreid thoughts?

[2021-12-08 19:07] samreid commented on #208
There is generally a constraint that you are supposed to try to watch the playback on a similar platform to where it was recorded.  @zepumph do we have anything beyond this?

[2021-12-08 19:38] KatieWoe commented on #208
I thought that the reason for the metadata testing on iPad was because the files can't be stored and used by the playback wrapper on the iPad, so it has to be watched on a computer?

[2021-12-13 16:49] zepumph commented on #208
Hmm, In general @samreid communicated our philosophy thus far (playback should occur on the device that it was recorded on). It is infeasible to expect that we can generally cover every single possible discrepancy between two different runtimes of a sim. That said, this specific bug seems like something we should fix since it is for a common recording device that doesn't support the playback wrapp

[2021-12-27 21:04] jonathanolson commented on #206
I have an iPad with iOS 9.3.5 which seems old enough that it's not loading (says "Your software is up to date."). Looks like an iPad 2 (Lave).

I'm curious if it's a memory issue, or possibly a GPU issue (dealing with 3d), or some other issue. To debug, I'd probably need to reproduce while tethered.

@kathy-phet thought on priority? I'd probably need an in-person device in order to reproduce/debug

[2021-12-27 21:17] jonathanolson commented on #207
Looks good to me.

[2021-12-27 21:17] #207 closed

[2021-12-28 17:13] jonathanolson commented on #201
I'm really not sure what the desired behavior here is, or what "1.2" behavior should be? I have code comments in ModelMoleculesModel that says:

[code]

This seems independent of whether the checkbox is enabled, and it seems independent of https://github.com/phetsims/molecule-shapes/issues/194 (which was mainly for the outer lone pairs, which only seem tangentially related to this issue).

So, wha

[2021-12-28 18:26] jonathanolson commented on #202
This looks purely like a result of the formula, which weights a bunch of different things:

[code]

It should be possible to adjust the threshold of what's visible slightly in the 3-bond case (there are tweakable thresholds). This would presumably affect all bond angle visibility when there are 3 bonds if we tweak it:
[code]

[2021-12-28 18:28] jonathanolson commented on #202
I made a slight threshold change, which does affect visibility in the general 3-bond case as seen here:

Before:
![image](https://user-images.githubusercontent.com/480878/147595908-89ed2fd9-be0d-47ef-8f78-62c10e2d7c42.png)

After:
![image](https://user-images.githubusercontent.com/480878/147595932-d7771dc7-99ac-4223-8552-69eb57edaf92.png)

But that removes the ClF3 "overlap" one completely.

@arou

[2021-12-28 19:37] jonathanolson commented on #205
Added some data used to determine the bond angle placement into state saving. @Nancy-Salpepi can you verify that this is fixed? I tested both state and studio.

[2021-12-28 20:02] jonathanolson commented on #203
Reproducing with the following console input:

[code]

[2021-12-30 12:38] Nancy-Salpepi commented on #205
The bond angle location is maintained once the sim is launched in studio/state.
@jonathanolson I do still see what I reported in https://github.com/phetsims/molecule-shapes/issues/205#issuecomment-982964751

[2022-01-04 21:40] arouinfar commented on #202
@jonathanolson looks reasonable to me. The opacity of the bond angle labels is most affected when looking at the molecule with a very skewed perspective. Shifting the molecule slightly will increase the readability of the labels.

![image](https://user-images.githubusercontent.com/8419308/148127183-78e4aa15-2c4f-4d02-b882-601548b1adcc.png)

[2022-01-05 01:37] jonathanolson commented on #202
Ok thanks, closing!

[2022-01-05 01:37] #202 closed

[2022-01-07 23:25] arouinfar commented on #201
@jonathanolson I've played with this a bit more, and I think what's happening is that every time the molecule is modified, the sim is checking whether or not the molecule has a lone pair. If it doesn't have a lone pair, it will turn on the checkbox if it was unchecked.

I think it makes sense for the checkbox to always be enabled. In situations where the molecule contains no lone pairs, the checkb

[2022-01-09 04:37] arouinfar opened #209 "Add recommendation to customize sim in Studio at same aspect ratio as end product to client guides"
See https://github.com/phetsims/phet-io-client-guides/issues/16

Opening this issue to track the commits that will need to be cherry-picked into the release branch.

[2022-01-09 04:39] arouinfar commented on #209
The above commits are ready for cherry-picking @jonathanolson.

[2022-01-13 19:58] arouinfar opened #210 "Add `autoselectSupported` to client guides"
In PhET-iO meeting, we decided to create a new release branch for the next RC cycle. This will pick up `autoselectSupported` support from master, so I should add that to the client guides for molecule-shapes and molecule-shapes-basics.

[2022-01-13 20:00] arouinfar commented on #209
In today's PhET-iO meeting, we decided to create a new release branch for the next RC, so no need to cherry-pick anything. Closing.

[2022-01-13 20:00] #209 closed

[2022-01-13 20:10] arouinfar commented on #210
Updated the guides in the above commits, closing.

[2022-01-13 20:10] #210 closed

[2022-01-20 03:36] jonathanolson commented on #203
This should finally be fixed up, can you verify?

[2022-01-20 06:48] jonathanolson commented on #201
I believe I've implemented this, can you verify? Now the Property shouldn't change without the user trying to change it (checkbox or reset-all or phet-io).

[2022-01-20 20:41] arouinfar opened #211 "Swap order of electron geometry and molecule geometry checkboxes"
Discussed in the 1/20/22 design check-in and we decided to proceed with this change.

User suggestion:

I couldn't find an explicit reason for the order of the checkboxes in the sim documentation, but @kathy-phet reached out to Trish who wrote back:

The [OpenStax chem textbook](https://openstax.org/books/chemistry-2e/pages/7-6-molecular-structure-and-polarity) introduces electron geometry before

[2022-01-22 02:36] jonathanolson commented on #205
Finally believe I got this one fixed. Can you verify?

[2022-01-22 02:37] jonathanolson commented on #200
It doesn't look like this is still happening. @KatieWoe have you seen this recently?

[2022-01-22 02:45] jonathanolson commented on #211
Implemented above, can you verify?

[2022-01-22 02:58] arouinfar commented on #211
Looks good @jonathanolson

[2022-01-22 13:56] Nancy-Salpepi commented on #205
All looks good now on Master!

[2022-01-22 14:36] Nancy-Salpepi commented on #203
Sorry @jonathanolson...was I supposed to close this issue?

[2022-01-22 23:21] #211 closed

[2022-01-22 23:22] jonathanolson commented on #205
Thanks!

[2022-01-22 23:22] #205 closed

[2022-01-22 23:22] jonathanolson commented on #203
Closing works for me, thanks!

[2022-01-22 23:22] #203 closed

[2022-01-24 15:50] #200 closed

[2022-01-24 16:11] Nancy-Salpepi opened #212 "Pointer Area too large"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/768, the pointer area for molecule geometry is too large. This is on both screens.

**Steps to reproduce**

**Visuals**
![pointerareasize](https://user-images.githubusercontent.com/87318828/150820099-ea9e5403-5ffe-46a5-a601-4ad24145fe9e.gif)

<de

[2022-01-24 16:39] Nancy-Salpepi commented on #212
The size of the Molecule Geometry pointer area changes as more bonds/lone pairs are added. If I click in that overlap area, only the electron geometry checkbox is changed.

<img width="653" alt="Screen Shot 2022-01-24 at 11 30 28 AM" src="https://user-images.githubusercontent.com/87318828/150825044-628163ba-8c2e-42c2-8c1f-9bf314b08792.png">
<img width="497" alt="Screen Shot 2022-01-24 at 11 32 12

[2022-01-24 18:26] arouinfar commented on #201
Thanks @jonathanolson. Looks good in https://github.com/phetsims/qa/issues/768.

[2022-01-24 18:26] #201 closed

[2022-01-24 23:12] KatieWoe opened #213 "Pinch to Zoom can move molecule while zooming occurs"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/768 and may be related to https://github.com/phetsims/joist/issues/749.
When you start to zoom into the sim with pinch to zoom, the molecule acts as though it is also being dragged. This sometimes stops after a second, but if you accidentally swipe your finger as y

[2022-01-24 23:35] KatieWoe opened #214 "Show Lone Pairs checkbox behaves differently"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/768. The Show Lone Pairs checkbox behaves differently than in published. In published, on the first screen it is on and disabled until you add a pair. If there are no pairs it reverts to this state. However, now the checkbox is not disabled. Not sure what behavior

[2022-01-25 03:29] jonathanolson commented on #214
@arouinfar thoughts? We decided to not change the checkbox state without user input, do we want to change the initial behavior? I think this looks like the desired behavior as described to me.

[2022-01-25 19:44] arouinfar opened #215 "Update autoselect documention in phet-io-guide before RC"
See https://github.com/phetsims/phet-io-client-guides/issues/18:

[2022-01-26 20:46] jonathanolson commented on #212
I believe this should be fixed in master. Can you verify?

[2022-01-26 20:50] jonathanolson commented on #204
Added in master. Everything look good here?

[2022-01-26 21:05] Nancy-Salpepi commented on #212
Yup...all fixed!

[2022-01-26 21:15] jonathanolson commented on #213
I believe this should be prevented by the above commit. @KatieWoe can you verify?

[2022-01-26 21:15] jonathanolson commented on #212
Thanks!

[2022-01-26 21:15] #212 closed

[2022-01-26 21:16] KatieWoe commented on #204
Looks good

[2022-01-26 21:48] KatieWoe commented on #213
The movement that lasts a second before stopping still happens, but the more serious version that doesn't stop does seem fixed.
![stillmoveabit](https://user-images.githubusercontent.com/41024075/151252101-f39e0e5f-fce7-443c-a275-cbe8937e359a.gif)

[2022-01-26 22:09] arouinfar commented on #214
Thanks for reporting @KatieWoe.

The behavior was changed as a result of #194 and #201 and looks correct in 1.5.0-dev.3, so closing.

[2022-01-26 22:09] #214 closed

[2022-01-26 22:43] arouinfar commented on #187
Teacher Tips have been updated and are ready to be uploaded when the sim is republished.

[2022-01-26 23:18] jessegreenberg commented on #213
@jonathanolson I am curious what you think of this patch as an alternative to your change in https://github.com/phetsims/molecule-shapes/commit/a2b726f46f184e1b8742c4d9979172dad675a05f. The issue is that pan/zoom listener only interrupts attached Pointer listeners, so this was happening in the condition that the listener was not attached to the pointer.

<details>

[code]
</details>

I tried to re

[2022-01-27 17:11] #204 closed

[2022-02-23 18:59] Nancy-Salpepi opened #216 "Update sim screenshots"
Visual changes have been made to the sim. New screenshots should be taken for the 1.5 release.

Also, screenshots would need to be taken for https://github.com/phetsims/website/issues/1322

[2022-02-24 23:02] KatieWoe commented on #213
On master it looks like I'm still seeing what was seen in https://github.com/phetsims/molecule-shapes/issues/213#issuecomment-1022633858. I think this is generally acceptable, but am reassigning. If you agree that this is acceptable behavior this can be closed.

[2022-03-17 23:29] zepumph commented on #177
We won't be supporting the playback wrapper anymore, see https://github.com/phetsims/phet-io/issues/1854. Closing

[2022-03-17 23:29] #177 closed

[2022-03-18 20:17] Nancy-Salpepi commented on #213
I still see what was reported in https://github.com/phetsims/molecule-shapes/issues/213#issuecomment-1022633858 when testing https://github.com/phetsims/qa/issues/785

[2022-03-28 21:36] pixelzoom opened #217 "Delete IE11StencilWarningNode, because IE is no longer supported."
From the CRC:

So can IE11StencilWarningNode.js be deleted, instead of spending the effort to convert to TS?

IE11StencilWarningNode.js was writting by @jonathanolson, and is used exclusively in molecule-shapes.  So assigning to him.

[2022-03-28 21:45] pixelzoom commented on #217
I transferred this issue from scenery-phet to molecule-shapes. And I moved IE11StencilWarningNode.js to molecule-shapes, where you can delete it at your leisure.

[2022-03-31 00:54] jonathanolson commented on #217
Committed above, thanks! Closing.

[2022-03-31 00:54] #217 closed

[2022-03-31 21:46] jessegreenberg commented on #213
I think I am able to see https://github.com/phetsims/molecule-shapes/issues/213#issuecomment-1022633858 if I start dragging with two fingers and drag without making the zoom gesture. Then as soon as I make the zoom gesture dragging is interrupted and we zoom in. That is the only way I have been able to reproduce and I think it is the correct behavior.

@jonathanolson anything else you would like t

[2022-04-08 22:58] arouinfar commented on #216
Screenshots updated, including those needed for https://github.com/phetsims/website/issues/1322, in the above commit, closing.

[2022-04-08 22:58] #216 closed

[2022-05-16 22:14] arouinfar commented on #215
Client guides are going to get a major overhaul as part of the upcoming PhET-iO batch release. This issue is basically moot, so closing.

[2022-05-16 22:14] #215 closed

[2022-08-13 02:24] jonathanolson opened #218 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-13 03:57] samreid commented on #208
We dropped support for playing back input events and are moving toward state-based playbacks.  So I don't think work is warranted for this issue.  Closing.

[2022-08-13 03:57] #208 closed

[2022-08-16 18:22] KatieWoe opened #219 "CT Any schema entries in the overrides file must be different from its baseline counterpart"
Also in Basics
[code]

[2022-08-24 14:48] jessegreenberg opened #220 "Rename GlobalOptionsNode"
OptionsDialog is being replaced with Preferences in https://github.com/phetsims/joist/issues/837 so files like this are being renamed since the content does not appear in the OptionsDialog.

[2022-08-24 14:57] jessegreenberg commented on #220
Done in the above commits but wanted to notify @jonathanolson (responsible dev).

[2022-08-24 14:57] #220 closed

[2022-08-28 21:27] samreid opened #221 "Uncaught Error: Assertion failed: tried to removeListener on something that wasn't a listener"
From CT:

[code]

[2022-08-28 21:28] samreid commented on #221
I committed a fix that seems to correct the symptom, but I'm unclear on when `initialize` is used, so I'm not sure if this is a good long-term solution.

[2022-08-31 18:28] jonathanolson commented on #221
Looks good, thanks!

[2022-08-31 18:28] #221 closed

[2022-09-09 16:29] KatieWoe opened #222 "CT phetioID missing from the baseline that was not an archetype:"
Also in Basics
[code]

[2022-09-13 01:12] jonathanolson commented on #222
@zepumph I'm unsure how to investigate this, or what this message means. Would we be able to pair on it?

[2022-09-13 16:53] zepumph commented on #222
It means that there was a phetioID in the overrides that was no longer in the sim (baseline). "baseline" is the sim api before the overrides are applied.

We are talking about `phetioID missing from the baseline that was not an archetype: moleculeShapes.modelScreen.view.bondingPanel.titleNode.visibleProperty`

Here is why this occurred and why it is no longer a problem:

* First in https://github.

[2022-09-13 17:14] jonathanolson commented on #222
Thanks!

[2022-09-13 17:14] #222 closed

[2022-10-07 14:53] arouinfar opened #223 "PhET-iO design review for 1.5 release"
Review will focus on:
- [x] Review dynamic layout/strings
- [x] Verify `stringProperties` are linked appropriately in the view
- [x] Review `phetioFeatured` elements and update overrides as needed
    - see https://github.com/phetsims/phet-io-sim-specific/issues/11#issuecomment-1258969845 for instructions
- [x] Update examples.md for [molecule-shapes](https://github.com/phetsims/phet-io-sim-specif

[2022-10-07 15:43] arouinfar opened #224 "Panel width should expand if panel title is long"
Related to #223

When making the panel titles long, they seem to escape the `maxWidth` of the panel. I had to widen the sim window to pull these strings within view. They originally escaped the window bounds.
![image](https://user-images.githubusercontent.com/8419308/194591120-60be65b5-7252-47e6-8ace-3e0335876cb4.png)

Affected strings:
`strings.moleculeShapes.control.bondingStringProperty`
`strin

[2022-10-07 15:46] arouinfar opened #225 "ComboBox width does not appropriately scale"
Related to #223

When the Molecule panel expands to maintain width with the Options panel, the ComboBox ends up oddly stretched. The button is overly large and the ListBox width also appears to be too narrow.

![image](https://user-images.githubusercontent.com/8419308/194594530-d1997b05-cf32-4ab7-9c4b-9ce9373e65ce.png)

[2022-10-07 15:58] arouinfar opened #226 "Add links to `stringProperty` to Real/Model radio buttons"
For #223

@jonathanolson can you add a link to the appropriate `stringProperty` to `realRadioButton` and `modelRadioButton`?

[2022-10-07 16:51] arouinfar opened #227 "Basics: `realMoleculeShapesProperty` includes values that are only valid in the full version"
Related to #223

The valid values of `realMoleculeShapesProperty` seems to be the full list of molecules available in Molecule Shapes. If you pass in a value that only appears in Molecule Shapes, Studio will not stop you.

For example, set the value to SF4 and it will appear to work, but the sim encounters a fatal error and freezes.
![image](https://user-images.githubusercontent.com/8419308/194604

[2022-10-07 17:59] arouinfar opened #228 "Odd interaction between `showOuterLonePairsProperty` and `showLonePairsProperty`"
Related to #223, and relevant history of `showOuterLonePairsProperty` can be found in #194 and #201.

Steps to reproduce:
1. Open Molecule Shapes in Studio.
2. Go to Real Molecules screen and select BrF5, since it has lone pairs on the central and outer atoms.
3. Set `showOuterLonePairsProperty` to true. Outer lone pairs appear as expected.
4.  Set `showOuterLonePairsProperty` to false. All lone p

[2022-10-07 18:06] arouinfar commented on #223
Review complete. No changes were necessary to `phetioFeatured` overrides and only minor edits were made to the examples.md files. I found a few issues, all tagged above.

[2022-10-07 18:06] #223 closed

[2022-10-07 18:14] arouinfar commented on #206
@jonathanolson this issue seems a bit stale. Let's plan on asking QA to reproduce in the next dev test. If it's still an issue, we can discuss next steps.

[2022-10-07 18:15] arouinfar commented on #162
Since this is tagged as wontfix, I'll close.

[2022-10-07 18:15] #162 closed

[2022-10-20 18:38] arouinfar commented on #228
Tagging for https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.

[2022-10-20 18:38] arouinfar commented on #227
Tagging for https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.

[2022-10-20 18:39] arouinfar commented on #226
Tagging for https://github.com/phetsims/qa/issues/844.

[2022-10-20 18:39] arouinfar commented on #225
Tagging for https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.

[2022-10-20 18:46] arouinfar commented on #224
Tagging for https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.

[2022-10-21 12:36] Nancy-Salpepi commented on #228
https://github.com/phetsims/qa/issues/844 something similar also happens in the PhET brand sim.

1. Go to the Real screen
2. Select any molecule with outer lone pairs --ex. CO2
3. Uncheck Show Lone Pairs checkbox and then recheck it --some or all outer lone pairs appear
**note that the Show Outer Lone Pairs is not checked in the preferences menu.

https://user-images.githubusercontent.com/87318828

[2022-10-21 16:45] Nancy-Salpepi opened #229 "Grammar change needed in PhET-iO guide"
For https://github.com/phetsims/qa/issues/844

Under: **Loading an Existing Standard PhET-iO Wrapper for Revision, Migration, or Adaptation** section, this sentence could use some rewording:

Looks like "you" is missing after "and" in the sentence.

[2022-10-21 18:06] KatieWoe commented on #228
Adding on to what Nancy saw, just turning the "Show Lone Pairs" off and on again does this, you don't need to turn outer pairs on or off from what I saw.

[2022-10-21 18:19] Nancy-Salpepi commented on #228
I saw the same as @KatieWoe-- no need to do steps 3 and 4 to see the outer lone pairs appear when they shouldn't.

The other part of the bug that was reported by @arouinfar also happens in the PhET brand sim:
Checking and unchecking the Show Outer Lone Pairs Checkbox also hides the lone pairs for the central atom when it shouldn't.

[2022-10-21 18:21] KatieWoe commented on #228
Also the bugged pairs seem different when you are in projector mode.
Non projector mode:
![dark](https://user-images.githubusercontent.com/41024075/197263499-f2a4ffef-5c7f-486c-b21a-4ccfdf4252c4.png)
Projector mode:
![projector](https://user-images.githubusercontent.com/41024075/197263541-c24ba4ca-442c-4148-8a8d-3f200de306b6.png)

[2022-10-21 18:51] Nancy-Salpepi opened #230 "No audio tab to hide"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.6

**Browser**
safari 16

**Problem description**
For https://github.com/phetsims/qa/issues/844, in the PhET-iO guide it says the audio tab can be hidden from the preferences menu using `moleculeShapes.general.view.navigationBar.preferencesButton.preferencesDialogCapsule.preferencesDialog.preferencesTabs.audioTab.visibleProperty`

[2022-10-21 19:07] Nancy-Salpepi commented on #230
Also, these elements are in the tree, but changing the value doesn't do anything (since there is no sound). Seems a bit confusing.
* Set audioEnabledProperty to false. `moleculeShapes.general.view.audioManager.audioEnabledProperty`
* Hide the sound icon in the navigation bar by setting its visibleProperty to false. `moleculeShapes.general.view.navigationBar.audioToggleButton.visibleProperty`

[2022-10-21 19:29] KatieWoe commented on #225
Noting that this did not occur in the published version of the sim.
Dev version:
![now](https://user-images.githubusercontent.com/41024075/197274736-0223792e-6d7d-4762-9b06-3f54071f504f.png)
Published version:
![then](https://user-images.githubusercontent.com/41024075/197274786-7974e5e6-3371-4528-8b62-d4154159a38b.png)

[2022-10-24 16:43] KatieWoe commented on #224
I noticed that this can cause the text to go out of bounds before it starts shrinking.

[2022-10-25 12:36] Nancy-Salpepi commented on #230
I updated my original issue above to no longer include the locale tab (I forgot to open the dialog!).

[2022-10-25 15:26] Nancy-Salpepi opened #231 "Touch area for remove buttons too small"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.6

**Browser**
safari/chrome

**Problem description**
For https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845, the pointer areas for the remove buttons are much smaller in 1.5.0-dev.2 than in the published version.

**Visuals**
<img width="559" alt="Screen Shot 2022-10-25 at 11 26 00 AM" src="https:/

[2022-10-25 18:40] KatieWoe opened #232 "Opt/Alt doesn't connect to Molecule Node"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.
The Opt/Alt command to see the View Element connected to an object does not seem to work for the Molecule Node. Other elements in the view tree seem to be selected when moving the mouse over that object, but not wit

[2022-10-25 21:08] Nancy-Salpepi opened #233 "bond length is longer in studio"
**Test device**
MacBook air (m1 chip)

**Operating System**
MacOS 13.0

**Browser**
safari/chrome
Also seen on Win 10 + chrome

**Problem description**
For https://github.com/phetsims/qa/issues/845 and https://github.com/phetsims/qa/issues/844
In Studio: When adding bonds to the central atom, the bond length is much longer than in the sim.

**Visuals**

https://user-images.githubusercontent.com/87

[2022-10-26 20:13] arouinfar commented on #229
Good catch @Nancy-Salpepi. I've edited that sentence and it now reads:

[2022-10-26 20:13] #229 closed

[2022-10-26 21:04] KatieWoe opened #234 "Studio geometry listing may not match sim"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.
When in studio, looking at a molecule's molecule or electron geometry, you may see it is diatomic, but the sim itself says linear. Should these two match?

**Visuals**
<img width="932" alt="diatomicorlinear" src="ht

[2022-10-27 13:53] Nancy-Salpepi opened #235 "Assertion errors appear when attempting to add checkbox to empty options panel"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
safari/chrome

**Problem description**
For https://github.com/phetsims/qa/issues/845 and https://github.com/phetsims/qa/issues/844
In Studio: After setting checkbox visibleProperty to false for all checkboxes in the Options panel, attempting to change the visibleProperty back to true, results in assertion errors.

[2022-10-27 14:00] Nancy-Salpepi commented on #235
This error doesn't occur when I do something similar in the Name Panel but does happen with the Bonding Panel

[2022-10-28 19:59] arouinfar commented on #234
Good catch @KatieWoe.

I've never seen "diatomic" as a molecular geometry. Diatomic atoms have a linear geometry.

@Nancy-Salpepi have you ever seen diatomic used as a classification of molecular geometry?

[2022-10-28 20:42] Nancy-Salpepi commented on #234
@arouinfar I have never seen "diatomic" used as a classification. As you said, they have linear geometry.

[2022-10-28 21:28] arouinfar commented on #234
Thanks @Nancy-Salpepi. Seems like we should remove "Diatomic" @jonathanolson.

[2022-10-28 21:36] KatieWoe opened #236 "Slow to change into some languages"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 16
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845
Switching to different languages may take significantly longer than appropriate. The time an individual language takes to switch to seems relatively consistent, but different languages take different amoun

[2022-10-28 23:45] jonathanolson commented on #234
The sim needs to differentiate between these internally (since 3 atoms in linear is different than diatomic, it's a fundamentally different structure). Each geometry needs to have a certain number of atoms.

So that might be possible, but it would be a significant refactor internally (many hours at least). How much time would this be worth?

[2022-11-04 02:08] arouinfar commented on #234
Thanks for the clarification @jonathanolson. I would be more concerned if `DIATOMIC` appeared instead of `LINEAR` on the Real Molecules Screen. Since the smallest molecule on that screen is triatomic, it doesn't. Let's close.

[2022-11-04 02:08] #234 closed

[2022-11-11 01:42] kathy-phet opened #237 "Ready Molecule Shapes for PhET-iO Publication"
[Dev test](https://github.com/phetsims/qa/issues/844) issues to address to ready Molecule Shapes for Publication
- [ ] https://github.com/phetsims/molecule-shapes/issues/228
- [ ] https://github.com/phetsims/molecule-shapes/issues/227
- [ ] https://github.com/phetsims/molecule-shapes/issues/226
- [ ] https://github.com/phetsims/molecule-shapes/issues/225
- [ ] https://github.com/phetsims/molecule-

[2022-11-11 17:30] arouinfar commented on #236
@KatieWoe seems like this could be a general problem. Can you reproduce in this another sim, such as GAO latest rc?

[2022-11-11 17:56] arouinfar commented on #233
I tried to reproduce this, but I'm not really noticing a difference. Here's a side-by-side comparison of the molecule in Studio, the molecule in the Standard PhET-iO Wrapper (pressing Test in Studio), and the phet-brand version of the sim. Removing and adding bonds in the Standard Wrapper doesn't seem to change anything for me, either.

| Studio | Standard Wrapper | phet-brand |
| --- | --- | ---

[2022-11-11 18:01] arouinfar commented on #232
@jonathanolson is it possible something was overlooked here? Seems odd that using option doesn't take the user to `view.moleculeNode` in the tree.

I don't think this is a serious UX issue, however. The `moleculeNode` isn't nested all that far down in the tree and isn't particularly hard to find. Hiding the molecule doesn't feel like the most pedagogically valuable customization, either. If there

[2022-11-11 18:24] Nancy-Salpepi commented on #233
@arouinfar it looks the same AFTER it is added. It is while the bond is being added that things look weird. I paused the video above at the 2 second mark and took a snapshot. It looks fine in the sim itself, but I thought I would mention it.

<img width="519" alt="Screenshot 2022-11-11 at 1 23 25 PM" src="https://user-images.githubusercontent.com/87318828/201404288-2328c922-52a0-463e-914d-1604dc3d

[2022-11-14 18:47] KatieWoe commented on #236
This is happening in other sims such as GAO latest RC

[2022-11-16 04:05] arouinfar commented on #236
Thanks @KatieWoe , seems like this should be elevated to a common repo and a tracking issue opened up in GAO. @jonathanolson what would be the appropriate repo to track this in?

[2022-11-17 19:36] arouinfar commented on #236
Relavant to https://github.com/phetsims/qa/issues/857

[2022-11-21 22:08] arouinfar opened #238 "Some characters not rendering correctly in translated sims on Safari"
Originally reported in https://github.com/phetsims/scenery/issues/1458 and was observed in https://github.com/phetsims/qa/issues/844.

Opening an issue in molecule-shapes so we don't forget about this issue. However, the PhET-iO team decided that this isn't a blocking issue because it appears in currently published sims and will likely require a maintenance release to fix.

[2022-11-21 22:10] arouinfar commented on #237
I opened #238 to track https://github.com/phetsims/scenery/issues/1458, but the PhET-iO team decided it was non-blocking, so I won't be adding it to the publication milestone.

[2022-11-21 22:18] arouinfar opened #239 "Touch outline doesn't reflect touch area with locales other than English"
Originally reported in https://github.com/phetsims/scenery-phet/issues/766 and was discovered in https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.

Opening an issue in molecule-shapes to keep track of this issue. Since `showPointerAreas` is an internal tool and the touch behavior is otherwise correct, this isn't a publication-blocking issue.

[2022-11-21 22:24] arouinfar opened #240 "Slow to change into some languages"
Originally reported in https://github.com/phetsims/scenery/issues/1501 and discovered with https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845.

Opening a tracking issue in molecule-shapes so we can keep track of this issue for the publication milestone.

The PhET-iO team decided that this is not a blocking issue.

[2022-11-22 01:01] arouinfar commented on #237
All relevant issues have been tagged in https://github.com/phetsims/molecule-shapes/milestone/1, so we can close this issue.

[2022-11-22 01:01] #237 closed